[2020-06-30 17:03] slemeur opened #8 "Add instructions on how to install the plugin on existing Grafana"
## Description
While we are providing documentation on how to try the plugin in an all-in-one environment, we could enhance it by adding  instructions on how to install the plugin on existing Grafana.

[2020-06-30 21:31] mikhailredis opened #9 "Add TLS configuration for client authentication"
Radix supported TLS with client authentication (https://godoc.org/github.com/mediocregopher/radix#DialUseTLS).
1) Add Config Editor option to enable TLS and provide Certificate and Private Key
2) Update golang backend to configure TLS client (https://golang.org/pkg/crypto/tls/#Config)

[2020-06-30 22:05] mikhailredis opened #10 "Update Slowlog parsing to support Redis Enterprise"
Slow log command should support both Redis and Redis Enterprise based on the number of results: https://redis.io/commands/slowlog

Redis Enterprise has additional field for complexity info:
[code]

[2020-07-01 14:50] #8 closed

[2020-07-02 08:51] gkorland opened #15 "docker-compose up: error on datasource"
![image](https://user-images.githubusercontent.com/753206/86337879-58232c00-bc5a-11ea-985e-cb830c15637c.png)

![image](https://user-images.githubusercontent.com/753206/86337853-4e99c400-bc5a-11ea-824b-c64554786ff6.png)

[2020-07-02 09:11] gkorland opened #16 "yarn build fail"
[code]

[2020-07-02 14:53] mikhailredis commented on #16
@gkorland Do you see `dist/` folder created?

Please check permissions for `/home/guy/redisclients/grafana-redis-datasource`. User used to compile the module should have write permission to create `dist` folder.

[2020-07-02 15:23] gkorland commented on #16
I have it, but I think I found the cause, it has something to do with the docker-compose:
[code]

[2020-07-02 16:43] mikhailredis commented on #16
@gkorland When you started docker-compose before building the data source, it creates `dist/` folder for you looking for the plugin:

[code]

Until we register the data source in the grafana registry, build is required.

[2020-07-02 16:56] mikhailredis commented on #15
@gkorland We should make it clear in README that you have to build the data source until it will be registered in Grafana and can be automatically installed using `grafana-cli`.

[2020-07-02 17:01] #15 closed

[2020-07-03 20:40] #10 closed

[2020-07-06 16:18] alex6058 opened #20 "Add automatic numeric conversion for HGET and HGETALL"
Where possible, the values returned by `HGET` and `HGETALL` should be converted to numeric format

[2020-07-08 14:33] #20 closed

[2020-07-08 15:06] mikhailredis commented on #20
@alex6058 HGET is done. HGETALL returns any data types in the fields and can't be converted easily. If you do grafana Transformation, you can get numeric first/last fields.

[2020-07-12 15:59] #9 closed

[2020-07-29 10:41] misteio opened #29 "Redis Datasource is Unsigned. K8S+Helm installation"
### Describe the bug
On installation of this plugin, I have an error:
Failed to load plugin                    logger=plugins error="plugin \"redis-datasource\" is unsigned" pluginPath=/var/lib/grafana/plugins/redis-datasource/dist

### Version
v1.1.1

### Steps to reproduce
1. Add redis-datasource, on plugins section
2. Relaunch grafana deployment
3. Got an error on log, error="plugin \"redis-dat

[2020-07-29 17:35] mikhailredis commented on #29
Thanks @misteio for submitting the issue.
I am working with Grafana Labs to sign Redis Datasource v1.1.2 and will let you know when ready.

[2020-07-29 18:03] mikhailredis commented on #16
@gkorland I am going to close this issue. Redis Datasource is available in the official Grafana repository https://grafana.com/grafana/plugins/redis-datasource and won't require to build.
README updated to add instructions on how to use `grafana-cli` to use it.

[2020-07-29 18:03] #16 closed

[2020-07-30 07:45] mikhailredis commented on #29
@misteio Redis Datasource v1.1.2 is signed and published on https://grafana.com/grafana/plugins/redis-datasource.
Please try and let me know if you have any questions.

[2020-07-30 12:44] misteio commented on #29
It works perfectly now. Thanks a lot for your reactivity and the job you've done.

Have a nice day !

[2020-07-30 12:44] #29 closed

[2020-08-05 02:58] BorisWJ opened #32 "Support codis"
can it support codis cluster?

[2020-08-05 09:23] gkorland commented on #32
What do you mean by support? which isn't working for you?

[2020-08-06 09:56] wangxin0529 opened #33 "Slowlog returns 'No data' for Redis 3.0.6"
![image](https://user-images.githubusercontent.com/54661355/89518620-bb7e1c00-d80d-11ea-9871-6eb5cb20d1cf.png)

 `slowlog get` has results

![image](https://user-images.githubusercontent.com/54661355/89518758-f4b68c00-d80d-11ea-98a7-8c0e556c1247.png)

`----------------------------------------------------------------------------------------------------`
if `slowlog get` is empty list
![image](https

[2020-08-06 17:27] mikhailredis commented on #33
Hello @wangxin0529,

 Thank you for trying the Redis Datasource and the issue. The Slowlog command (https://redis.io/commands/slowlog) was enhanced in Redis version 4 and the command output in version 3 is different.
  I will test on version 3.0.6 and let you know when ready.

[2020-08-06 19:58] marcossv9 opened #34 "How to query a specific db inside same redis single node"
## Summary
We are testing this data source with a single redis node with two DBs (db1 and db2).
When running `SCARD` command for several KEYS in a new panel we don't know against which db is executing the command either db1 or db2.
We would like to set a specific db to run the command/query against.
## Relevant information
Grafana 7.1.1
Imported dashboard is the one that comes with datasource
A ne

[2020-08-06 20:31] marcossv9 commented on #34
Update:
We managed to get it working changing the datasource URL using the following syntax:

`redis://redis-server:6379?db=1`

The downside is that we need to create a specific datasource for every db.

Also should be good to show this on the datasource docs.
Regards,

[2020-08-06 20:31] #34 closed

[2020-08-07 01:35] mikhailredis commented on #34
@marcossv9 Thank you for testing the data source and submitting the issue. Please let me know if you find anything else.

Answering your first question, by default, new connections always use database 0 (https://redis.io/commands/select). Adding select to support multiple databases can add complexity and it's not supported in the Redis Cluster, non-OSS Redis.

Why is it downside? There are no prob

[2020-08-07 02:09] mikhailredis commented on #34
@marcossv9 README updated with `How to connect to Redis logical database?` section.

[2020-08-07 05:15] wangxin0529 commented on #33
OK，I will test on version 4.x

[2020-08-07 13:44] marcossv9 commented on #34
Thanks for your answer and clarification @mikhailredis.

For me the ideal escenario could be using same redis datasource (single redis node) and then have the option to select to which db we want to query/consult in a Dashboard instead of creating a new datasource for every db.

Having said that I think I can use Grafana variables to solve that as you said.

Thanks again!

[2020-08-10 23:40] Ultraseamus opened #36 "Template Variable replacement does not respect "Repeat panel" feature."
As an example, write a command that references a "Repeated Variable", notice that all selected options are used, rather than the one that belongs to that instance.

[2020-08-12 10:26] benjie91 opened #38 "Connection issue to redis deployed in k8s"
## Summary
Connection issue to redis deployed in k8s.

## Relevant information
I have setup a redis-sentinel database using bitnami/redis helm chart. However, on connecting to it, it always say plugin health check failed. No helpful logs as well to debug this issue.

[2020-08-12 14:28] marcossv9 commented on #33
Hi,

Same issue with Redis 2.8.24 here.

If I run the command from redis-cli it works.

Any help would be appreciated.

Thanks,

[2020-08-13 02:04] #36 closed

[2020-08-13 06:14] mikhailredis commented on #38
Hello @benjie91. Thank you for submitting the issue.

You should be able to see the connection errors in the grafana log:
[code]

Have you tried to connect to Sentinel port 26379 or to Redis port 6379? Datasource supports only Redis connection. Sentinel and Cluster API will be introduced in upcoming versions.

[2020-08-13 06:17] mikhailredis commented on #32
@BorisWJ Thank you for submitting the issue. Could you please clarify what are you looking for and not working?

Redis datasource supports only Redis connection to port 6379. Sentinel and Cluster API will be introduced in upcoming versions.

[2020-08-13 06:36] benjie91 commented on #38
Yep I had checked the log messages and it mentioned:
```... uname=admin error="Failed to check plugin health: Health check failed"```
My connection string is as follow: redis://xxx-redis-master-0.conan-redis-headless.xxx.svc.cluster.local:26379/0
I have also tried the redis port but the result is still the same.

If you need more info, my grafana instance is also deployed on kubernetes and they ar

[2020-08-13 07:00] mikhailredis commented on #38
@benjie91 Port 26379 is Sentinel port and it's not supported in the current version.

Sometimes, Grafana after failed health-check got stuck and may not accept the new URL parameter. Could you please try recreate Datasource as `redis://xxx-redis-master-0.conan-redis-headless.xxx.svc.cluster.local:6379/0` and check the log files.

Is it the correct link I can follow to install and try the bitnami/R

[2020-08-13 07:27] #33 closed

[2020-08-13 07:35] mikhailredis commented on #33
@wangxin0529 and @marcossv9 the issue is fixed in the master. Please follow BUILD (https://github.com/RedisTimeSeries/grafana-redis-datasource/blob/master/BUILD.md) instructions to build it yourself.

The datasource will be updated in the Grafana repository soon.

[2020-08-13 08:02] benjie91 commented on #38
Yes! You can follow that link. I have tried connecting directly to the master redis which is 6379 and the log message is still the same as before.

[2020-08-13 08:37] mikhailredis commented on #38
@benjie91 Thank you. I will follow the link and will try to reproduce tomorrow.

[2020-08-14 05:05] mikhailredis commented on #38
Hello @benjie91. I was able to successfully connect to Redis port 6379 when forwarded port using this command
[code]

Did you provide a password when configured Data source? There was no correct error message displayed when the PING command failed, which is now fixed in master. You can try to build datasource following https://github.com/RedisTimeSeries/grafana-redis-datasource/blob/master/BUILD.m

[2020-08-14 06:28] benjie91 commented on #38
I was able to resolve the issue. It was not related to the connection but rather because when I copied the plugin into the grafana plugin directory, I did not change the permission the redis driver to executable. It took a while for me to troubleshoot.

```chmod +x redis-datasource_linux_amd64```

Thanks for your help and great work. Let's close the issue! =)

[2020-08-17 19:08] Doca opened #43 "Is it planned/possible to get the stats for clusters too?"
I just discovered your awesome Grafana Dashboard and I wonder if it's also possible to monitor redis clusters with the Datasource plugin/grafana dashboard...

[2020-08-17 19:24] mikhailredis commented on #43
Hello @Doca,

  I am glad you discovered it and thank you for the feedback! We are working on the Redis Cluster support and it will be available in the upcoming version.
  I will let you know when ready, stay tuned!

[2020-08-17 19:27] mikhailredis commented on #38
@benjie91 Thank you for the update.
I will keep it open to add Sentinel support in the upcoming version.

[2020-08-17 19:27] Doca commented on #43
So glad to hear that. Do you have a feeling when this will be ready? Just a gut feeling?

[2020-08-17 19:32] mikhailredis commented on #43
@Doca,

  Thank you, let's keep it open for tracking cluster support

[2020-08-18 21:54] alex6058 opened #44 "ts.mrange returns no data when label has spaces within"
ts.mrange returns no data when label has spaces within

Example command: `ts.mrange - + WITHLABELS FILTER location="New Paltz" metric=feels_like mode=hourly`
`redis-cli` output:
[code]

Grafana query:
[code]

[2020-08-19 09:45] wangxin0529 commented on #33
@mikhailredis When will it could be updated in the Grafana repository？

[2020-08-19 20:09] mikhailredis commented on #33
I am finishing the 1.2.0 release with new features and will submit it for review next week.
Can you wait or build it yourself following BUILD instruction meanwhile?

[2020-08-20 06:48] #44 closed

[2020-08-20 11:08] wangxin0529 opened #47 "How to use redis datasource to collect a lot of redis"
I have many redis.
How to collect these redis?
Do I have to add multiple data sources?
![image](https://user-images.githubusercontent.com/54661355/90762995-8519c400-e318-11ea-90f7-190c4049954d.png)
one by one?

[2020-08-20 12:26] gytisrepecka opened #48 "Plugin executable missing for arm64 architecture"
### Describe the bug
ARM64 executable missing.

### Version
Redis plugin for Grafana v1.1.2
Grafana  v7.1.3
Ubuntu focal v20.04 (arm64)

### Steps to reproduce

1. Install plugin using `sudo grafana-cli plugins install redis-datasource`;
2. Restart `grafana-server` service;
3. Service status shows error: `lvl=eror msg="Failed to start plugin" logger=plugins.backend pluginId=redis-datasource error=

[2020-08-20 15:38] alex6058 commented on #47
Hello @wangxin0529

Yes, you need to add an instance of Datasource for each Redis database you're using. After that, you can use multiple data sources in one dashboard and even in one panel in multiple query mode. Please also note, Grafana template variables support Datasource type, so you can automatically repeat panels and rows for all databases, which you defined.

Thank you

[2020-08-20 23:49] mikhailredis commented on #47
@wangxin0529 you can add Data sources manually as @alex6058 explained or use Data source API to automate: https://grafana.com/docs/grafana/latest/http_api/data_source/

Please let us know if you have any questions.

[2020-08-21 02:48] wangxin0529 commented on #47
How to do this？

[2020-08-21 05:11] mikhailredis commented on #48
Hello @gytisrepecka, thank you for submitting the issue.

Unfortunately, Linux on Arm64 is not supported in Grafana SDK `grafana-plugin-sdk-go` and I have submitted enhancement request https://github.com/grafana/grafana-plugin-sdk-go/issues/220.

Meanwhile, I create a branch with linux_arm64 binary inside [https://github.com/RedisTimeSeries/grafana-redis-datasource/archive/feat/arm64.zip](https://

[2020-08-21 05:49] wangxin0529 commented on #47
OH, I get it, THANK YOU!

[2020-08-21 06:03] mikhailredis commented on #47
@wangxin0529, Unfortunately, this is a limitation of Grafana 7. We can't export the dashboard which supports multiple data sources and share it within datasource.

I have added dashboard which supports multiple Redis instances: https://github.com/RedisTimeSeries/grafana-redis-datasource/blob/master/dashboards/redis.json

Do you want to try and let me know if it works for you?

[2020-08-21 06:14] gytisrepecka commented on #48
Thanks for detailed instructions, @mikhailredis - executable from **feat/arm64** works smooth on my [Khadas VIM3 Pro](https://www.khadas.com/vim3)!

[2020-08-21 06:20] mikhailredis commented on #48
@gytisrepecka Thank you for the update. I will include support for Linux on arm64 in 1.2.0.
I hope PR will be included in Grafana SDK: https://github.com/grafana/grafana-plugin-sdk-go/pull/221.

[2020-08-21 06:20] #48 closed

[2020-08-21 15:27] dpipemazo opened #50 "Return 0 for all buckets with 0 count on time-series `TS.RANGE` queries"
### Is your enhancement related to a problem? Please describe.

When using redis time series `TS.RANGE` commands with `COUNT` aggregation, grafana will show us interpolated lines between data samples:

![Screenshot from 2020-08-21 08-20-19](https://user-images.githubusercontent.com/2764032/90907371-bda4b680-e387-11ea-850f-cd3ebb954e8b.png)

Looking at the data from the query, the data source is re

[2020-08-22 21:17] #50 closed, assigned to nobody

[2020-08-23 16:55] #32 closed

[2020-08-23 16:56] #47 closed

[2020-08-23 17:08] #43 closed

[2020-08-23 17:12] mikhailredis commented on #43
@Doca, Redis Cluster merged to master and will be available in the upcoming version.

![Screen Shot 2020-08-23 at 10 11 13 AM](https://user-images.githubusercontent.com/47795110/90984333-0e074a00-e529-11ea-97a1-59aae2080db0.png)

[2020-08-23 20:53] #38 closed

[2020-08-23 21:00] mikhailredis commented on #38
@benjie91 Sentinel supported in the upcoming version 1.2.0 and it's available to test in master.
Please follow BUILD instruction if you would like to try it.

[2020-08-24 10:12] gytisrepecka commented on #48
Awesome, thanks @mikhailredis !

[2020-08-25 21:10] mehmetcakmaz opened #55 "Does it support Azure Cache for Redis?"
Hello,

Thank you for great plugin. Does it only work with local redis server or is it available for Azure Cache for Redis?

[2020-08-25 21:47] mikhailredis commented on #55
@mehmetcakmaz Thank you for your interest in the plugin. You should be able to connect to any Redis instance. TLS connection is supported as well.

Please let me know if you have trouble connecting to Azure Cache.

[2020-08-26 00:15] dpipemazo opened #56 "Data outside time range in Grafana when doing `TS.MRANGE`"
### Describe the bug

When using the `TS.MRANGE` query in grafana we are frequently seeing "Data out of time range" appear. This unfortunately can't be turned off in grafana.

![Screenshot from 2020-08-25 16-51-32](https://user-images.githubusercontent.com/2764032/91239379-3e4f1400-e6f4-11ea-8fd9-cc4bb247d3e4.png)

For the example shown, the graph query and config can be seen here:

![Screenshot f

[2020-08-26 04:42] mikhailredis commented on #56
@dpipemazo Thank you for submitting another issue.

Have you tried the same command from `redis-cli` and see the kworker returning 0 for the outside interval? How about remove aggregation?

I will take a look and get back to you.

[2020-08-26 16:05] dpipemazo commented on #56
@mikhailredis Thanks for taking a look. I should have confirmed in `redis-cli`, apologies for not doing that originally. I reproduced a similar situation to the graphs above through running:

[code]

The full resultant text file is attached and is telling -- the source of the issue is indeed coming from Redis Time Series as we can see some example entries from the query:

[code]

and

[code]

Wher

[2020-08-26 19:49] mikhailredis commented on #56
@dpipemazo Thank you for confirming, I am checking with the RedisTimeSeries team what will be the expected behavior in this case.

I agree that extra intervals can be clipped in the plug-in, but I expect RedisTimeSeries to return the correct values.

[2020-08-26 20:19] mikhailredis commented on #55
@mehmetcakmaz Please let me know if you were able to connect to Azure Cache.

[2020-08-27 02:39] dpipemazo commented on #56
I did go ahead and file the issue on the Redis Time Series repo as well: https://github.com/RedisTimeSeries/RedisTimeSeries/issues/506

[2020-08-27 05:43] mikhailredis commented on #56
@dpipemazo Thank you, let's wait for the RedisTimeSeries team response.

[2020-08-27 06:23] wangxin0529 commented on #47
@mikhailredis I use multiple data sources in one dashboard ,and define a variable named server like this
![image](https://user-images.githubusercontent.com/54661355/91399588-cd813680-e870-11ea-9c92-a5b1ad7eb80d.png)

[2020-08-27 18:24] mikhailredis commented on #56
@dpipemazo RedisTimeSeries team accepted the issue and will work on it.

Do you mind to close this issue and follow it in RedisTimeSeries?

[2020-08-27 18:51] dpipemazo commented on #56
Sure, thanks for helping to bring it to their attention.

[2020-08-27 18:51] #56 closed

[2020-08-27 19:00] mehmetcakmaz commented on #55
Thank you for information @mikhailredis
I will try and notify you within 1 week

[2020-08-27 19:06] dpipemazo opened #58 "Support Connecting to Redis via Unix Socket"
### Is your enhancement related to a problem? Please describe.

It would be nice to support connecting to and querying redis via a unix socket. We use this form of communicating with Redis frequently at Elementary since we run redis on the edge on our robots. We are currently spinning up our grafana server also on the edge for local development and it makes our `docker-compose` configuration clean

[2020-08-27 20:27] mikhailredis commented on #58
@dpipemazo Redis Data Source based on Radix golang client (https://github.com/mediocregopher/radix). I don't see an option to connect using the Unix Socket at first sight. If it will be supported by Radix, it would be ideal.

I can take a closer look later, but you can ask Radix developer if it's something he would be interested to implement. I see that some Redis clients support connecting using

[2020-08-27 20:30] dpipemazo commented on #58
Yes, I agree it should come from the client. We've been using `redis-py` and `hiredis` via the unix socket for a while with good success, makes sense this support isn't in all of the language clients, particularly a language like golang which is really geared at networked connections. I'll file an issue over there. Thanks!

[2020-08-27 20:39] mikhailredis commented on #58
@dpipemazo Thank you. Please put it here as well for tracking.

[2020-08-27 23:57] dpipemazo commented on #58
Issue [filed on radix](https://github.com/mediocregopher/radix/issues/231)

[2020-08-28 01:14] mikhailredis commented on #58
@dpipemazo Thank you for submitting the issue for radix. Looks like we found the way how we can add Socket connection as an additional client type.
I will test and let you know later tonight.

[2020-08-28 03:06] mikhailredis commented on #58
@dpipemazo Let me add additional Client type for socket connection and will send you branch to try. Give me 15 minutes.

[2020-08-28 03:08] dpipemazo commented on #58
@mikhailredis thank you! This is very quick and much appreciated.

[2020-08-28 03:26] mikhailredis commented on #58
@dpipemazo Please verify and let me know if it works for you: https://github.com/RedisTimeSeries/grafana-redis-datasource/tree/feat/socket

[2020-08-28 03:27] dpipemazo commented on #58
Thanks! Trying now :+1:

[2020-08-28 03:34] dpipemazo commented on #58
Works great! :tada:

![Screenshot from 2020-08-27 20-34-15](https://user-images.githubusercontent.com/2764032/91518256-b78d6900-e8a4-11ea-84ff-9ad7e46cae6f.png)

Thank you!!

[2020-08-28 03:49] #58 closed

[2020-08-28 03:52] mikhailredis commented on #58
@dpipemazo Merged to master. Please let me know if there is anything else!

[2020-09-04 15:51] fcafagna opened #61 "Plugin health check failed for ARM on Linux"
Hi,

I would like to setup a redisTimeSeries server to be monitored by a Grafana interface, on a raspberry PI.
I was able to install a Grafana instance and a redis server.
I installed and loaded the RedisTimeSeries module and the redis-datasource plugin.
When I create the data source in Grafana and Save&Test it, I get a Plugin health check failed error.
### Describe the bug
When I create the data

[2020-09-04 16:05] mikhailredis commented on #61
Hello @fcafagna, unfortunately, Linux 32bit for Arm v7l is not included in the Redis Data Source.
There are two options to run Data Source on Raspberry Pi:
 1) Install 64bit Linux like Debian and install Redis Data Source using grafana-cli. We included ARM64 Linux build in the latest version 1.2.0.
 2) I can create a branch with a 32bit Linux version or you can build it yourself and then install i

[2020-09-04 23:09] fcafagna commented on #61
Ciao @mikhailredis ,
thanks a lot for you prompt reply.
The Rpi 4 is a 64bit platform, but the 64bit Raspbian OS is still in beta, unstable, version.
So I will try to built a 32bit version and let you know.
Cheers,
Francesco

[2020-09-04 23:43] mikhailredis commented on #61
@fcafagna, it's not that easy to build a 32bit version as you will need to modify `grafana-plugin-sdk-go`/build/common.go to support the new architecture.

Could you please take a look at grafana log file and let me know what is the executable name Grafana is looking for? Is it "redis-datasource_linux_arm32" or something else.

[2020-09-05 00:04] mikhailredis commented on #61
@fcafagna I created a branch with Linux for ARM executable, https://github.com/RedisTimeSeries/grafana-redis-datasource/archive/feat/arm.zip.

Please download and install following the BUILD instructions and let me know if it works for you.

[2020-09-05 00:09] fcafagna commented on #61
Ciao @mikhailredis ,
thanks a lot. I will try to build it as soon as I can and let you know.
By the way, Grafana is looking for the executable: "redis-datasource_linux_arm"
Cheers
Francesco

[2020-09-05 08:08] fcafagna commented on #61
Ciao @mikhailredis,
I tried to build the module, but I am experiencing an odd behavior with GO.
While I had no problem building the React frontend, I am problem with the go part.
Namely, when I try to install the Grafana SDK:
 go get -u -v github.com/grafana/grafana-plugin-sdk-go
I get the error:
go get: error loading module requirements
The error is random. Is not always issued for the same packe

[2020-09-05 13:35] hyh555 opened #62 "Special configured on the Redis databases doesn't work in Sentinel mode"
I use /db-number or ?db=db-number in the Data Source URL to specify the database number as defined in the Schema.
but It doesn't work in Sentinel mode。

[2020-09-05 15:37] mikhailredis commented on #62
@hyh555 Thank you for opening the issue.

Could you please provide the screenshot with your data source configuration and clarify what is not working to investigate.

[2020-09-05 15:40] mikhailredis commented on #61
@fcafagna You may miss my last reply, you don't need to build anything yourself. I created a branch with Linux for ARM executable, https://github.com/RedisTimeSeries/grafana-redis-datasource/archive/feat/arm.zip.

Just download and install it following BUILD instructions. Golang installation can be tricky and depends on your environment.

[2020-09-07 07:51] fcafagna commented on #61
Ciao @mikhailredis ,

sorry I misunderstood. I haven't noticed the executable.
Now is working fine. I can connect to the Redis instance and I can see the dashboards.
Thanks a lot for the help!! I really appreciated it.
Cheers,
Francesco

[2020-09-08 17:54] mikhailredis commented on #61
Thank you for the update @fcafagna.
I will include the ARM release to the upcoming version of Data Source.

[2020-09-22 07:05] tbraun-hk commented on #55
Hi @mikhailredis,

currently, I'm trying the same and had no success so far. I'd like to connect to an instance of "redis cache for grafana". However, I have not been able to find a way of enabling SSL in the grafana plugin for redis.

The "Connection string" shown by Azure is:
"[instance-name].redis.cache.windows.net:6380,password=[base64 encoded password],**ssl=True**,abortConnect=False"

I've c

[2020-09-22 13:30] mikhailredis commented on #55
@tbraun-hk You don't need to use SSL in the URL, as it's enabled by default as I understand.
Did you provide an SSL authority certificate or enabled Skip to verify?

Meanwhile, I will try to connect to Azure and get back to you shortly.

[2020-09-22 13:36] tbraun-hk commented on #55
@mikhailredis thank you very much for the quick reply! Here's a screenshot of my attempt of configuring the plugin, I hope, this is useful to you?
![image](https://user-images.githubusercontent.com/52997644/93889291-501ed980-fce9-11ea-837d-dd5539769c23.png)

[2020-09-22 13:52] tbraun-hk commented on #55
OK, here's a success message: After enabling unencrypted access to redis, the plugin is working flawlessly!
![image](https://user-images.githubusercontent.com/52997644/93891123-5c0b9b00-fceb-11ea-9d65-fb5f4de08a48.png)

![image](https://user-images.githubusercontent.com/52997644/93891166-6a59b700-fceb-11ea-8000-342e58225ed4.png)

Still, it would be great to be able to use TLS encryption. Maybe the

[2020-09-22 13:56] mikhailredis commented on #55
@tbraun-hk Please try to switch "TLS Client Authentication" to enable and provide Authority certificate or enable 'Skip Verify'. Don't need to provide client certificate or key if you don't use them.

[2020-09-22 14:01] tbraun-hk commented on #55
@mikhailredis You're right, that setting did it, hooray 👍
![image](https://user-images.githubusercontent.com/52997644/93892371-c2dd8400-fcec-11ea-958e-281a8e1d6384.png)

Now I've got a redis datasource up and running!

Thank you very much again for your help!

[2020-09-22 14:02] mikhailredis commented on #55
@tbraun-hk You are very welcome! Let me know if you need anything else.

[2020-09-22 14:02] #55 closed

[2020-09-28 04:29] mikhailredis commented on #61
Pull request to Grafana Plugin SDK opened to include ARM build: https://github.com/grafana/grafana-plugin-sdk-go/pull/224

[2020-09-28 04:29] #61 closed

[2020-09-28 04:31] mikhailredis commented on #62
@hyh555 We did not hear back from you regarding this issue.
Please provide more details if you still require assistance.

[2020-09-28 18:34] mcao8888 opened #63 "How to connect to Redislabs cluster?"
## Summary
How do we connect to Redislabs cluster?   If cluster FQDN is clusterA.production.int, default cluster port is 9443, and database port is customized to 15000 for example, what is the connection URL?

We're keep getting this error:  getInstance error: no pools available

This is not community Redis where the default port is 6379.

The screenshot in the doc is not correct for connecting to

[2020-09-28 22:36] mikhailredis commented on #63
Hello @mcao8888, thank you for your interest in the plug-in.

You should be able to connect to your database on port 15000 using Redis Data Source like `redis://clusterA.production.int:15000` or `clusterA.production.int:15000` and provide a password in Standalone mode. Do you use TLS/SSL or ACLs?

I will ask your Technical Account Manager to help you to connect.

This is how I connect to my Redis

[2020-09-29 00:03] mcao8888 commented on #63
I was able to connect as you suggested (standalone, specific to a database, with the URL pointing to the node that the endpoint of the database resides on).

So we can only register 1 database at a time using standalone mode and not the entire cluster using the Redis Cluster mode?

Thanks

[2020-09-29 00:41] mikhailredis commented on #63
@mcao8888 `Redis Cluster` is for OSS Redis Cluster (https://redis.io/topics/cluster-spec) not Redis Enterprise.

Unfortunately, the auto-populating of Redis databases using Redis Enterprise REST API is not supported in Redis Data Source.

Could you please provide more details on what you are looking for to achieve with Redis Data Source?

[2020-09-29 15:25] mcao8888 commented on #63
Similar to Redis Insight where you register cluster port (9443), master node url (clusterA.production.int), and Admin/password (for cluster, not a specific database).   This then would register all the databases on the cluster without having to register 1 database at a time.  When you have numerous databases in a multitenant scenario, this would help.

[2020-09-29 22:58] mikhailredis commented on #63
@mcao8888 I agree, auto-populate similar to Redis Insight will be very useful.
I will check internally and get back to you.

[2020-10-01 16:21] lhh31 opened #64 "Timeseries data time stamp truncated to seconds"
Using the timeseries commands to perform tasks.range queries the corresponding data frame built has the milliseconds truncated.

Reviewing the code this makes sense as the conversion from epoch to go time object using time.Unix has nanoseconds set to zero and seconds value divided by 1000.

There may be a reason for this, but effectively this means that data at higher resolutions than 1 second are

[2020-10-02 04:35] mikhailredis commented on #64
@lhh31 Thank you for submitting the issue. You are correct, RedisTimeSeries ts.range and ts.mrange commands return milliseconds and we can actually convert to time.Unix using nanoseconds as converted milliseconds.
[code]

[2020-10-02 05:56] #64 closed

[2020-10-02 06:00] mikhailredis commented on #64
@lhh31 Fix merged to the master branch and will be available in the next release. Meanwhile, you can test and build yourself following BUILD instructions.
Please let me know if you have any questions.

[2020-10-02 10:31] lhh31 commented on #64
@mikhailredis Confirmed that the latest master branch works down to millisecond resolution. Thanks for the quick response.

[2020-10-02 15:42] mikhailredis commented on #64
@lhh31 Thank you for submitting and verifying the issue.
Please let us know if you see anything else.

[2020-10-08 17:34] WPS63 opened #70 "Redis Plugin Failing Health Check on Grafana Data Source Settings"
## Summary
I am trying to connect my Redis server to Grafana using the plugin and am getting a plugin health check failure message when I try to save and test my datasource.
## Relevant information
My Redis server is running locally on the default localhost and port(127.0.0.1:6379.) I have installed the plugin and can see it on my list of available plugins on the Grafana dashboard as well as throu

[2020-10-08 17:36] WPS63 opened #71 "Redis Datasource Plugin Failing Health Check on Grafana"
## Summary
I am trying to connect my Redis server to Grafana using the plugin and am getting a plugin health check failure message when I try to save and test my datasource.
## Relevant information
My Redis server is running locally on the default localhost and port(127.0.0.1:6379.) I have installed the plugin and can see it on my list of available plugins on the Grafana dashboard as well as throu

[2020-10-08 17:37] #70 closed

[2020-10-08 17:37] WPS63 commented on #70
Double posted due to connection issue.

[2020-10-08 21:05] mikhailredis commented on #71
Hello @WPS63, thank you for submitting the issue.

What platform do you use? Could you please take a look at Grafana log files and send me an error. It does not look like a Redis error, more like a communication error between Grafana and Plug-in.

[2020-10-08 22:37] WPS63 commented on #71
Hi Mikhail,
I am using Raspbian OS. Here is the request and the error from my Grafana log file:

t=2020-10-08T13:01:57-0400 lvl=eror msg="Request Completed" logger=context userId=1 orgId=1 uname=admin method=GET path=/api/datasources/5/health status=500 remote_addr=[::1] time_ms=67 size=40 referer=http://localhost:3000/datasources/edit/5/
t=2020-10-08T13:02:02-0400 lvl=eror msg="Plugin health chec

[2020-10-08 22:52] mikhailredis commented on #71
@WPS63 Raspbian OS is 32bit and unfortunately, 32bit ARM Linux executable is not included in the release 1.2.0 available in the Grafana repository.
This issue was requested in #61, we updated the Grafana SDK, and it will be a part of the upcoming release 1.2.1.

I just built the master with 32bit ARM Linux executable for you: https://github.com/RedisTimeSeries/grafana-redis-datasource/archive/feat

[2020-10-08 23:44] WPS63 commented on #71
It worked perfectly. Thank you very very much, sir.

[2020-10-08 23:44] #71 closed

[2020-10-08 23:49] mikhailredis commented on #71
@WPS63 Thank you for the update. Please let me know if you need anything else.

[2020-10-13 13:46] pab1it0 opened #73 "All Redis Datasource timeout when one is not reachable"
### Describe the bug

All Datasource timeout when one is not reachable

### Version

1.2.0

### Steps to reproduce

1. Create more than one redis datasource, one that isn't reachable
2. Create dashboard for each datasource.
3. Goto the reachable datasource's dashboard and refresh -> Dashboard is updated with metrics
4. Goto the unreachable datasource's dashboard and refresh -> Dashboard freezes.
5

[2020-10-13 13:51] pab1it0 commented on #73
@mikhailredis FYI.

[2020-10-13 14:36] mikhailredis commented on #73
@pab1it0 Thank you for submitting the issue. I will check and get back to you.

[2020-10-13 14:41] MathieuEtchepare opened #74 "Multi-value variables with redis datasource"
## Summary
Hi, I started using this datasource recently and I had a special use case that I don't know is feasible or not.
I have a first grafana variable that is a multi-value select. Its source is a Redis instance.
If I select more than one value the result is stored in the variable as {1,2,3} (if I selected 1,2 and 3 in first select)
My goal is to use these values to get multiple keys in anothe

[2020-10-13 15:37] MathieuEtchepare commented on #74
Thanks for your answer.
I just noticed that the last part of my question was really unclear and I'm sorry for that.

As a matter of fact, I'm using a first variable to display geographical zones, let's say America, Europe and Asia.
For each I have a list in redis named after it with countries.
To sum up in redis I have:

- Regions [America, Europe, Asia]
- America [USA, Mexico, ...]
- Asia [China,

[2020-10-14 05:21] mikhailredis commented on #74
Hello @MathieuEtchepare,

  There are multiple advanced variable format options for variables in Grafana which you can play with: https://grafana.com/docs/grafana/latest/variables/advanced-variable-format-options/

  Do you keep countries as LIST data type or SET?

[2020-10-14 09:15] MathieuEtchepare commented on #74
I'm keeping them as a set

[2020-10-14 13:58] johnkbarrow opened #75 "TimeSeries timestamp seems to be truncated by plugin"
### Describe the bug
I am a noob so if this is not a bug but user error then I apologise in advance.
I am adding data to a timeseries. The data looks correct when queried using redis-cli, but when i try to query using the grafana plugin, it appears that the timestamps are being truncated so that the date shows way in the past.
e.g.
from redis-cli:

1) (integer) 1602675285 (which translates to 14 O

[2020-10-14 14:22] mikhailredis commented on #75
Hello @johnkbarrow, thank you for submitting the issue.

  Could you please send me screenshot how do you display it? I just tried on TimeSeries 1.2, 1.4 and everything works as expected:
![Screen Shot 2020-10-14 at 7 18 36 AM](https://user-images.githubusercontent.com/47795110/96002086-95688f80-0ded-11eb-9f59-08df04260d10.png)

[2020-10-14 14:58] johnkbarrow commented on #75
Hi @mikhailredis - thanks for the quick reply. I figured out my mistake - I was entering the timestamps into the timeseries as seconds rather than milliseconds. Now working as expected.
Thanks again.

[2020-10-14 14:58] #75 closed

[2020-10-14 19:36] mikhailredis commented on #74
@MathieuEtchepare, one of the possible solutions is to use EVAL command:
[code]
![Screen Shot 2020-10-14 at 12 26 11 PM](https://user-images.githubusercontent.com/47795110/96036747-c2329c00-0e19-11eb-84a2-d388d6932952.png)

I am checking with the team for other options.

[2020-10-14 21:17] nail-sirazitdinov commented on #74
Hi @MathieuEtchepare
The trick with LUA script should work fine on a single shard deployment.

Another option is to utilize [RedisGears](https://oss.redislabs.com/redisgears/intro.html) module. RedisGears is a powerful framework for the execution of the functions. It supports Python and C API.

Here is an example of the script
[code]

Which you can load to the database with RedisGears enabled like

[2020-10-14 22:25] lexicalunit opened #76 "Graph data from HGETALL"
## Summary

I have a hash of days to counts stored in redis using HSET. I'm getting that data out with HGETALL. I can see it as a table, but there appears to be no way to actually graph it.

![Screen Shot 2020-10-14 at 3 22 57 PM](https://user-images.githubusercontent.com/1903876/96051879-4b090200-0e31-11eb-9ba0-5ec14c207012.png)

And when I try to switch the visualization to graph I just get:

![

[2020-10-14 23:33] mikhailredis commented on #76
Hello @lexicalunit, thank you for submitting the issue.

  My initial analysis is that HSET returns each column as a string or number and Grafana expects time to be a `time.Time` type. I have to take a closer look.
  Is it an existing project or you are developing it? Hash is not the best data type to store time-series data. I would recommend taking a look at [RedisTimeSeries](https://oss.redislab

[2020-10-14 23:44] lexicalunit commented on #76
It's something I'm developing. I'm just trying to figure out how to do something like "counts by day" which seems to be really freaking difficult or else I'm just using the wrong tools. I'm using RedisCloud for my redis hosting and I'm not sure I have access to the time series module, at least not without paying (I'm on the free plan right now). At least, the TS commands don't seem to work on my c

[2020-10-15 03:06] mikhailredis commented on #76
@lexicalunit Redis Cloud has a RedisTimeSeries module available in AWS/Mumbai region. All modules are a part of Pro subscriptions in all regions.

  You can add your data to RedisTimeSeries and then aggregate values per day: https://oss.redislabs.com/redistimeseries/commands/#tsrangetsrevrange
  You can try using Docker: `docker run -p 6379:6379 -it --rm redislabs/redistimeseries`.

  I am still c

[2020-10-16 06:31] sabir-piludiya opened #78 "SLOWLOG GET only returns 10 rows"
In Plugin, SLOWLOG GET returns only 10 Rows with timestamp, duration and command. I need the data of more than 10. Eg. 128 Slowlog.
I also tried **SLOWLOG GET 128** in custom command option, However in that case it's not showing like the field wise.

Is it not supported or If anyone can help.

[2020-10-16 07:12] mikhailredis commented on #78
@sabir-piludiya Thank you for submitting the issue. The SLOWLOG GET (https://redis.io/commands/slowlog) command by default return 10 entries. To display more than 10 we can improve Query Editor and add additional parameter.

I will let you know when ready.

[2020-10-17 21:28] #78 closed

[2020-10-17 21:44] mikhailredis commented on #78
@sabir-piludiya, Additional `Size` parameter was added for Slowlog and merged to master. It will be available in the upcoming release. Meanwhile, you can build the data source yourself following BUILD instructions.

Please let me know if you have any questions.

[2020-10-18 04:37] lexicalunit commented on #76
@mikhailredis I don't see that option here: https://elements.heroku.com/addons/rediscloud#details

[2020-10-18 05:38] mikhailredis commented on #76
@lexicalunit, I was talking about Redis Cloud Essential, which you can try to free https://redislabs.com/try-free/ and it's available in Oregon (us-west-2) region.

Please let me know if you have any questions.

[2020-10-18 05:41] mikhailredis commented on #74
Hello @MathieuEtchepare, please let us know if LUA or RedisGears solution works for you.

[2020-10-19 07:58] MathieuEtchepare commented on #74
Hi,

Sorry for the late response, I was on other subjects these days...
I am going to use the LUA solution as I only need a simple line of code for now, but I will think about RedisGears if I need a more complex solution.

Thanks for your time, I really appreciate the effort you put into helping me.

Have a nice day! 😃

[2020-10-19 07:58] #74 closed

[2020-10-19 14:15] mikhailredis commented on #74
@MathieuEtchepare, thank you for the update.

Please let us know if you need anything else.

[2020-10-19 17:07] lexicalunit commented on #76
Ah, I was trying to stay within the ecosystem of heroku. Ty for the info tho!

[2020-10-20 10:28] aengusrooneygrafana opened #81 "getInstance error: ERR command is not allowed"
## Summary
When adding Redis Cluster datasource to Grafana, we are getting the following error message:
`getInstance error: ERR command is not allowed`

## Relevant information
Error:
![image](https://user-images.githubusercontent.com/54800912/96574002-2ef0df00-12cf-11eb-8751-7e660cf4de01.png)

Connection string from:
![image](https://user-images.githubusercontent.com/54800912/96574242-7aa38880-12

[2020-10-20 20:04] mikhailredis commented on #81
Hello @aengusrooneygrafana, thank you for opening the issue.

`Redis Cluster` means "OSS Cluster API" which may not be enabled for this Redis database. Please check if it's enabled using Redis Enterprise Cluster manager UI. If it's not enabled, use `Standalone` mode.

Regarding /9 at the end of the URL, it means that Redis Data Source should connect to logical database 9, which are not supported i

[2020-10-21 09:56] aengusrooneygrafana commented on #81
Thank you Mikhail, that works.

Can we update the README with this information please?

https://github.com/RedisGrafana/grafana-redis-datasource/#does-this-data-source-support-redis-cluster-and-sentinel

Thanks,
A.

[2020-10-21 22:43] mikhailredis commented on #81
@aengusrooneygrafana, thank you for the update.
We are working on the documentation for Redis Data Source and we will describe each client type.
Thank you for the feedback and let us know if you need anything else.

[2020-10-22 10:08] aengusrooneygrafana commented on #81
Thank you Mikhail - that's everything -thank you for your help!

[2020-10-22 10:08] #81 closed

[2020-10-25 20:59] DGorringe opened #84 "Redis Timeseries only 30 seconds of data displayed on Raspberry Pi"
## Summary
Hi guys
Firstly thanks for your hard work on building this software. I am a newbie to both grafana and redis. So please forgive my ignorance. I have tried to read manuals and follow guidance notes as much as possible.
I have a Redis instance receiving interrupt drive updates from a heading sensor, so only updates when sensor changes heading. I am using the Timeseries module with TS.MADD

[2020-10-26 01:29] mikhailredis commented on #84
Hello @DGorringe, thank you for submitting the issue and trying RedisTimeSeries with Redis Data Source.

The start and stop values for `TS.RANGE` you see in the MONITOR command, Redis Data Source takes from Grafana's top panel. In your case, it's the last 5 minutes. So if you set your dashboard to refresh every 10 seconds - 1-minute interval, you should see different values.

I am not sure I under

[2020-10-26 01:45] Kaharu opened #85 "Graph data from HMGET by using streaming"
### Summary
I have a hash data like this and update value each 10 seconds.

    test1        10
    test2        20
    test3        30
    test4        40

I want to get that data out with HMGET and monitor by streaming like this.
![image](https://user-images.githubusercontent.com/73450318/97125691-0b6ae000-1778-11eb-8a57-82c8fce25831.png)

### Relevant information
Grafana: v7.2.1 windows
ReidsDa

[2020-10-26 03:37] mikhailredis commented on #85
@Kaharu Thank you for submitting the issue. We have to add support for the `HMGET` command and streaming should be working when output will be parsed as separate columns.

I will work on it and get back to you shortly.

[2020-10-26 05:15] siddharthshubhampal opened #86 "How to retain matrices."
I am using this plugin to fetch data from Redis Cloud endpoints in grafana. I have entered multiple Redis datasources with datasource as variable and realtime graphs are getting plotted. But if I change datasource or refresh "streaming dashboard", Old matrices vanishes. How can I retain streaming dashboard data to get historical data in grafana.

[2020-10-26 10:37] DGorringe commented on #84
Hi Mikail

Thanks for you prompt response. Your words have helped me analyse what I
was seeing and how I should change my usage of grafana to get the
required result.

I was expecting the  generated TS.RANGE query to look something like
"TS.RANGE measurement <from_unixtime>  +" so would get the values from
the starting point with the dataset returned constantly extending.  What
I was seeing was mu

[2020-10-27 05:40] mikhailredis commented on #86
Hello @siddharthshubhampal, thank you for opening the issue and using Redis Data Source.

Streaming dashboard data is stored in the browser's memory and cleared out after refresh.

You can see historical data on your Cloud account dashboard (https://app.redislabs.com). I will ask your Technical Account Manager to get in touch with you to discuss the best monitoring solution for your needs.

[2020-10-27 05:44] mikhailredis commented on #84
@DGorringe Great, thank you for the update.

As I understand you were able to see more than 30 seconds on data, correct? Can I help you with anything else?

[2020-10-28 14:46] shay-berman opened #87 "Allow to run queries from [Explore] tab in grafana"
Cannot run query from `Expore` tab in grafana.
1. Example of get command (cannot edit the key at all):
![image](https://user-images.githubusercontent.com/1079649/97451783-c348ea80-193c-11eb-9361-e41f2a5f9711.png)

2. Also cannot run clusterINFO command
![image](https://user-images.githubusercontent.com/1079649/97451899-df4c8c00-193c-11eb-8d9f-9ac530513253.png)

### Describe the solution you'd like

[2020-10-28 19:16] mikhailredis commented on #87
@shay-berman Please check that Redis datasource configured correctly, I was able to use Explore using the latest release and configured Redis Data Source.

Regarding `key` looks like it intersects with one of the reserved variables. I will look into it and may need to rename it.

[2020-11-03 19:22] 1nv1 opened #88 "Ploting LRANGE"
### Summary
I’m working using redis’ lists, in my case I get the value with the query (CLI) “LRANGE key idx idx”. I can’t chart it but I can see in a table. It's possible support LRANGE for ploting? Best regards.

![imagen](https://user-images.githubusercontent.com/2840417/98030683-28df2000-1df0-11eb-8d59-8b58f7be7aac.png)

![imagen](https://user-images.githubusercontent.com/2840417/98030628-12d15

[2020-11-04 05:33] mikhailredis commented on #88
@1nv1 Thank you for submitting the issue. I will take a look and get back to you shortly.

[2020-11-10 00:09] nail-sirazitdinov opened #89 "Legend override display's key name with TS.RANGE command"
## Description
Legend override display's key name with TS.RANGE command.
TS.MRANGE is able to override the Legend with the metric's label details

### Version:
Reids Datasource v1.2.1
Redis 6.0.4

### Screenshots
![image](https://user-images.githubusercontent.com/49917620/98610890-b45c2380-22be-11eb-9b34-bd43ebbe5eb4.png)

[2020-11-13 07:13] leewei05 opened #90 "Store streaming data from Redis Enterprise Cloud"
## Summary

We are using Redis Enterprise Cloud on GCP. Since this is a managed service, we can only use the default Enterprise Cloud console for monitoring. The data on Enterprise Console is not granular enough and it cannot send different alerts to us. This plugin's Redis Streaming dashboard might be a solution for us. However, it seems like this plugin can only display live data, is it? Once I

[2020-11-18 07:41] mikhailredis commented on #90
Hello @leewei05, thank you for your question and I am sorry for the delayed response.

  Streaming in the Redis Data Source was designed to display live data and does not allow to store them locally. You can use 3rd party collector tools to store those metrics in Prometheus or other databases.

  I will ask your Technical Account Manager to discuss various Monitoring solutions with you.

[2020-11-18 08:13] leewei05 commented on #90
@mikhailredis, thanks for the reply! I've already ask them for some Monitoring solutions.
In the mean time, we'll try to use other data collector tools.

[2020-11-18 08:14] #90 closed

[2020-11-25 06:57] iamshreeram opened #91 "redis_datasource_darwin_amd64 cannot be opened because the developer cannot be verified"
### Problem
Ran into issue while opening grafana (standalone) with redis-datasource plugin installed. Pop-up was prompted saying - "redis_datasource_darwin_amd64 cannot be opened because the developer cannot be verified"

### Solution
System Preferences > Security & Privacy -> set to allow redis-datasource_darwin_amd64

### Error Message
<img width="407" alt="Screen Shot 2020-11-25 at 12 46 30 AM"

[2020-11-25 14:40] luvs opened #92 "Get "NOAUTH Authentication required" error with sentinel"
I have redis/sentinel cluster. Redis and sentinel have 'requirepass' param in config (password equal).

When I configure datasource for sentinel I get error "NOAUTH Authentication required", but if I set standalone plugin works.

![111](https://user-images.githubusercontent.com/731500/100241870-3b5afe00-2f45-11eb-9515-16fe2ed0050f.jpg)

[2020-11-26 15:52] iamshreeram opened #93 "Unable to connect to redis-datasource"
## Summary
I'm seeing error while connecting to redis-data source running on docker. `/api/datasources/1/health` is failing with HTTP 503 after 2.5 minutes. This may need some timeout set.

## Snapshot
<img width="1659" alt="grafana_redis_timeout" src="https://user-images.githubusercontent.com/7752805/100371271-24f88500-2fcd-11eb-97ba-ef8fa276a00e.png">

[2020-11-30 01:23] Kaharu commented on #85
When will Version 1.3 which support HMGET command be released?

[2020-11-30 18:01] mikhailredis commented on #85
@Kaharu, I am sorry for the delay. I will work on it and get back to you this week.

[2020-11-30 22:29] mikhailredis commented on #93
Hello @iamshreeram, the Redis Data Source use Radix Golang client and has connect timeout preconfigured. I will take a look why it takes longer to timeout after 2.5 minutes.

  Are you running Docker on Windows, Mac or Linux? You may not be able to connect to outside network with your Docker configuration. Could you try in network `host` mode?

[2020-12-01 00:03] mikhailredis commented on #92
Hello @luvs, thank you for submitting the issue. I have not tried using a password with Sentinel.
I will take a look and get back to you shortly.

[2020-12-01 00:14] mikhailredis commented on #91
@iamshreeram Thank you for submitting the issue. What version of Mac OS do you use?

  I tried Grafana standalone with Redis-datasource on my Catalina and don't remember any issues. Nothing was reported so far. Have you tried to start it manually or you saw this warning message when started Grafana?

  How did you install and start Grafana? using brew?

  Please send me more details to reproduce t

[2020-12-01 20:03] iamshreeram commented on #91
@mikhailredis
Installation
1. Redis Grafana : Downloaded the redis plugin (.zip) and unzipped it in `/data/plugins` directory
2. Grafana : Stand-alone. Just download the grafana zip file; Unzip it and execute the binary `./grafana-server`. No installation.

I think you wouldn't see this issue because, the plugin might already be verified in your system preference.

[2020-12-01 20:22] iamshreeram commented on #93
@mikhailredis ,
1. Yes. I was running the redis on docker (on mac).
2. The host mode was working good.

Today I was able to connect to docker as well. I don't know what fixed the issue.

But, Can we make this timeout a configurable value. As you can see in the snapshot, the Waiting (TTFB) was close to 2.5 mins). If we can document this, it might help people.

[2020-12-09 09:45] alexey-danilov opened #94 "Cannot specify more than 6 addresses in cluster configuration"
### Describe the bug
Cannot specify more than 6 addresses in cluster configuration

### Version
1.2.1

### Steps to reproduce
In one of our setups we are using version 1.2.0 of redis plugin and can successfully add more that 6 redis node addresses into a datasource. However, in 1.2.1 version whenever more that 6 addresses a provided, there is an error (see the screenshot). All of the addresses are

[2020-12-09 09:46] alexey-danilov commented on #94
![Screen Shot 2020-12-09 at 11 41 20 AM](https://user-images.githubusercontent.com/4075759/101613222-2cc81880-3a14-11eb-9f56-a73753fe35d0.png)

[2020-12-09 09:53] alexey-danilov commented on #94
UPDATE: based on this diff, I think version 1.2.1 is not compatible with grafana < 7.2.0: https://github.com/RedisGrafana/grafana-redis-datasource/commit/dd4140b0a47081d6e388be67702e14a838a461fc#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519

[2020-12-09 13:05] alexey-danilov commented on #94
UPDATE 2: rolling back to version 1.2.0 did not help either, still the same error

[2020-12-09 20:48] xkilian opened #95 "Support fetching from RedisJSON datasource"
### Is your enhancement related to a problem? Please describe.
Ability to display data stored in RedisJSON in Grafana. Most notably for the table plugin.

### Describe the solution you'd like
Ability to connect to a ReidsJSON datastore, query, search, filter and display data Grafana.

### Describe alternatives you've considered
JSON API Grafana datasource which connects to http JSON PATH compliant

[2020-12-10 11:22] #94 closed

[2020-12-15 05:42] Kaharu commented on #85
It is difficult to support this function?
Sorry I don't mean to rush you, but I only want to know when will be released.

[2020-12-16 02:03] #85 closed

[2020-12-16 04:01] mikhailredis commented on #85
@Kaharu Pull request was merged to master and will be available in the upcoming release 1.3.

[2020-12-16 05:00] mikhailredis commented on #94
@alexey-danilov Thank you for opening the issue. It's not clear what do you mean by `backing DB for grafana`.
Were you able the solve the issue or not?

[2020-12-16 06:49] mikhailredis commented on #85
@Kaharu You can build a data source yourself follow BUILD instructions if you want to try the HMGET command before the release. I am planing to finish release 1.3 this week and submit it to Grafana for review over the weekend.

[2020-12-16 07:18] Kaharu commented on #85
Very Thank you!
I  apologize for my frequent contacts and appreciate your cooperation.

[2020-12-16 17:52] mikhailredis commented on #85
@Kaharu You are very welcome. Please let me know if there is anything else.

[2020-12-16 18:23] mikhailredis commented on #95
@xkilian Thank you for the feature request. Do you have any particular command from the [RedisJSON](https://oss.redislabs.com/redisjson/commands/) module you want to use?

We started to introduce support for Redis modules and I will target to add support for some RedisJSON command in 1.3.1.

[2020-12-16 19:30] xkilian commented on #95
The principal use-case would be GETting data from RedisJSON et being able to display it Grafana. Perhaps MGET as well. Second order would be meta-data about what is being displayed (TYPE).
I think KEYS would also be important but more from a searching perspective which should be built-in to the datasource. But could also be a method of list the keys explicitely.  I am not sure I see much value in

[2020-12-16 19:48] mikhailredis commented on #95
@xkilian Thank you, I will let you know when ready.

[2020-12-18 16:02] emmanuelnk opened #107 "Confused about usage of bucket parameter for aggregation queries"
Hi, great work on the plugin. I have a question though. _What is the purpose of the bucket input for aggregation?_ I feel like this is not explained well in the docs.

It was my assumption than any query that uses `TS.RANGE` uses the global time range as set by the dashboard. Aggregation is the only redis query where I see this aggregation bucket parameter. Also the input does not allow usage of g

[2020-12-19 00:25] mikhailredis commented on #107
@emmanuelnk Thank you. Bucket parameter is available for TS.RANGE and TS.MRANGE commands which support aggregation: https://oss.redislabs.com/redistimeseries/commands/#tsrangetsrevrange

Your assumption is correct, TS.RANGE and other commands use the global time range. The time bucket is used for aggregation as specified in the documentation for RedisTimeSeries. For example, instead of series with

[2020-12-19 07:06] mikhailredis commented on #93
@iamshreeram This timeout is configurable in the Advanced settings. I tried to reproduce the issue using the latest version from the `master` branch and the session successfully timeout after the configured value.

I will experiment more trying to reproduce the issue.

[2020-12-19 07:41] #92 closed

[2020-12-19 07:44] mikhailredis commented on #92
@luvs I am sorry for the delay. The fix merged to master and will be available in the upcoming release.
You are welcome to build a plug-in yourself following BUILD instructions before the release.
Please let me know if you have any questions.

[2020-12-20 02:28] #89 closed

[2020-12-20 02:29] #86 closed

[2020-12-20 07:36] #84 closed

[2020-12-20 07:47] mikhailredis commented on #91
@iamshreeram Thank you for the detailed instructions. I will add it to the documentation.

[2020-12-20 17:20] #93 closed

[2020-12-20 17:21] mikhailredis commented on #93
@iamshreeram Thank you for reporting the issue. I found the problem and merged the fix to master.
Please let me know if there is anything else.

[2020-12-20 17:26] mikhailredis commented on #73
@pab1it0 I am sorry for the delay. I found the issue with the timeout, which is fixed in the upcoming release. This helps with this issue, but still, Redis Data Source is blocking when trying to open new connections.

I will investigate further.

[2020-12-21 01:28] mikhailredis commented on #76
@lexicalunit RedisTimeSeries is available in Heroku if you want to give it a try.
Are you still developing your application using Hashes? In the upcoming version, the hash will be represented as fields instead of rows, to be able to stream it.

We can implement a special option to display hash as time-series if you are still interested.

[2020-12-21 01:49] lexicalunit commented on #76
I switched over to using a read-only account via a postgresql data source for a lot of the graphs I wanted to create. I'm still using redis for some metrics that I want to display though.

For the redis panels I just have to manually get many multiple values individually as their own series and then display them as a bar graph. For example:

![Screen Shot 2020-12-20 at 5 40 47 PM](https://user-ima

[2020-12-21 02:05] #87 closed

[2020-12-21 02:06] mikhailredis commented on #87
@shay-berman Thank you for opening the issue. The `Key` was updated to `KeyName` to avoid conflict with reserved option in the Grafana Explore.

[2020-12-21 04:15] emmanuelnk commented on #107
@mikhailredis okay thanks! That clears it up! Thanks for the link to the docs. I see its essentially data binning but the term `bucket` confused me.

[2020-12-22 02:36] mikhailredis commented on #76
@lexicalunit You can use Hash to store metrics and display them as bar graphs in the upcoming version using HGETALL or HMGET commands.

Regarding the Postgres query, as I said before it can be done using RedisTimeSeries, which is now available in Heroku.
You can add time-series samples for data using TS.ADD command with labels and then display using TS.MRANGE command.

Please let me know if you ha

[2020-12-22 02:38] mikhailredis commented on #76
Here is the blog how I did something similar: https://redislabs.com/blog/how-to-use-the-new-redis-data-source-for-grafana-plug-in/

[2020-12-22 02:44] lexicalunit commented on #76
Thanks for the blog post, I'll dig into this!

[2020-12-22 03:23] #107 closed

[2020-12-22 03:25] mikhailredis commented on #107
@emmanuelnk Thank you for the feedback. I have updated `Bucket` to `Time Bucket`, I hope it makes it more clear.
Please let me know if there is anything else.

[2020-12-22 04:58] #88 closed

[2020-12-22 05:04] mikhailredis commented on #88
@1nv1 I am sorry for the delay. I updated CLI to check if returned strings are numbers and updated the type to be able to plot. It will be a part of the upcoming release.

Please take a look and let me know if it's what you are looking for.
![Screen Shot 2020-12-21 at 9 02 37 PM](https://user-images.githubusercontent.com/47795110/102851144-e5f10000-43cf-11eb-813b-ce468c598285.png)

[2020-12-22 17:09] 1nv1 commented on #88
Hi @mikhailredis. Yes, that's. Amazing! Thanks a lot.

[2020-12-28 09:58] emmanuelnk opened #116 "Experiencing memory leak in Grafana docker seemingly stemming from this plugin"
Hi I have Grafana running in a docker container ([grafana/grafana](https://hub.docker.com/r/grafana/grafana/)) in ECS Fargate Service on AWS and I have been getting memory leaks when I (incorrectly?) enter custom redis commands in grafana.

## Context

When I enter a custom command in redis timeseries datasource, there seems to be a memory leak that occurs immediately afterwards. Memory consumptio

[2020-12-28 19:15] mikhailredis commented on #116
@emmanuelnk Thank you for submitting the issue. I will take a look at it.

You are correct, [TS.RANGE](https://oss.redislabs.com/redistimeseries/commands/#tsrangetsrevrange) command requires the key and does not support wildcards. To get time-series from multiple keys you should use [TS.MRANGE](https://oss.redislabs.com/redistimeseries/commands/#tsmrangetsmrevrange) command and query using labels.

[2020-12-29 05:52] mikhailredis commented on #85
@Kaharu I am sorry for another delay. Grafana plugin team is on vacation and I will submit a new version as soon as they are back. Thank you.

[2021-01-02 16:32] mikhailredis opened #118 "Migrate to Radix v4"
### Is your enhancement related to a problem? Please describe.

N/A

### Describe the solution you'd like

When Radix v4 is out of Beta, Data Source should be migrated to v4.

### Describe alternatives you've considered

### Additional context

https://github.com/mediocregopher/radix

[2021-01-02 16:35] mikhailredis commented on #76
I am going ahead and close this issue. Let me know if you need anything else.

[2021-01-02 16:35] #76 closed

[2021-01-02 20:57] mikhailredis opened #119 "Add Unit test for Golang Backend"
### Is your enhancement related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-01-07 04:34] #119 closed

[2021-01-12 05:47] mikhailredis commented on #116
PANIC fixed in Radix 3.7.0: https://github.com/mediocregopher/radix/issues/250

[2021-01-12 05:57] #116 closed

[2021-01-12 06:06] mikhailredis commented on #116
@emmanuelnk We were not able to reproduce memory leaks using docker containers, we have not tried RCS Fargate. The PANIC was fixed in the Radix client and now you should see the proper error coming from Redis in the data source.
The fix is a part of the upcoming release 1.3.1, which you can BUILD yourself following BUILD instructions to test.
Please let me know if you have any questions.

[2021-01-12 20:42] mikhailredis opened #130 "Improve INFO CommandStats for Redis 6.2"
### Describe the solution you'd like

Redis 6.2 extends INFO COMMANDSTATS to have:
 - failed_calls in - so we can keep track of errors that happen from the command itself, broken by command.
 - rejected_calls - so we can keep track of errors that were triggered outside the command processing per se ( example of wrong arity, oom, etc... )

### Additional context

Sample ( notice rejected_calls ):
[

[2021-01-12 20:44] mikhailredis opened #131 "Add INFO ERRORSTATS command for Redis 6.2"
### Describe the solution you'd like

Redis 6.2 adds a new section to INFO, named ERRORSTATS that enables keeping track of the different errors that occur within Redis based upon the reply Error Prefix ( The first word after the "-", up to the first space ).

### Additional context

Sample:
[code]

[2021-01-13 05:22] mikhailredis opened #132 "Improve CLI mode to add `redis-cli` experience"
### Describe the solution you'd like

Command-line interface (CLI) should return command output similar to `redis-cli` tool and provide the same experience in Redis Application plug-in Redis CLI panel:
  - Add Boolean Parameter "CLI", which will enable `redis-cli` output.
  - By default, should be disabled and output in a RAW mode like implemented now.
  - CLI panel in the Redis Application plug-i

[2021-01-13 05:48] mikhailredis opened #133 "Add command to support the panel to show the biggest keys"
### Describe the solution you'd like

  Create a special command which will execute the SCAN command and Type, Memory Usage for each returned key in pipeline:
- https://redis.io/commands/scan
- https://redis.io/commands/type
- https://redis.io/commands/memory-usage

  Resulted data should be returned in the frame. The cursor should be returned in a separate frame.

  Add input parameters:
- Cursor

[2021-01-13 13:25] jasperslot opened #134 "Using dashboard is randomly switching between cluster nodes? How to get cluster wide info?"
## Summary
I have a Redis cluster running within k8s. This cluster consists of 3 masters & 3 slaves. Within this same k8s cluster I have a Grafana deployment. From within this Grafana instance I have configured a redis data source. It's configured as type cluster, with an address pointing to a k8s cluster ip service. Pool size 0, timeout 10s. As a dashboard I use the default dashboard provided by

[2021-01-14 02:02] mikhailredis commented on #134
@jasperslot Thank you for the great question. I would recommend looking at https://redis.io/topics/cluster-tutorial to learn more about OSS Redis Cluster. When you connect to the Redis Cluster and execute commands like `INFO`, they will be executed on any available node. A predefined Redis dashboard will give you mixed information from all available nodes as you can see. To see aggregated informat

[2021-01-14 04:37] #132 closed

[2021-01-14 07:27] mikhailredis opened #136 "Add RedisGears commands (RG.PYSTATS, RG.DUMPREGISTRATIONS, RG.PYEXECUTE)"
### Describe the solution you'd like

Support RedisGears commands:
 - https://oss.redislabs.com/redisgears/commands.html#rgpystats
 - https://oss.redislabs.com/redisgears/commands.html#rgdumpregistrations
 - https://oss.redislabs.com/redisgears/commands.html#rgpyexecute

Stats and Registrations should be parsed as separate fields in the same frame.

### Additional context

Module information: http

[2021-01-14 15:38] jasperslot commented on #134
@mikhailredis Thanks for your comprehensive answer. I will look into Redis Proxy (although this one is still in beta?) & Redis App to see which suits my needs best. It seems that LLEN is working correctly indeed. Since the value was changing a lot, I thought it might happen because of the switching of nodes. Sorry, my mistake.

[2021-01-14 17:42] mikhailredis commented on #73
Opened the issue for Grafana SDK: https://github.com/grafana/grafana-plugin-sdk-go/issues/248

[2021-01-14 23:25] mikhailredis commented on #134
@jasperslot Thank you for confirming regarding the `LLEN` command. You can also try Streaming mode to see the changes in the graph.

Another option to Redis Proxy will be Redis Enterprise, which you can install on the K8S cluster or Redis Enterprise Cloud. Please let me know if you have any questions.

[2021-01-16 03:49] #130 closed

[2021-01-16 03:49] #131 closed

[2021-01-17 03:21] mikhailredis opened #139 "Improve TMSCAN command with Samples count and size"
### Describe the solution you'd like

1. Add `samples` count to sample all of the nested values: https://redis.io/commands/memory-usage
2. Return `size` number of the biggest keys to reduce traffic to the client

[2021-01-17 06:02] #133 closed

[2021-01-18 04:45] mikhailredis commented on #73
PR submitted: https://github.com/grafana/grafana-plugin-sdk-go/pull/251

[2021-01-19 03:25] mikhailredis commented on #136
RG.PYSTAT and RG.DUMPREGISTRATIONS were implemented in #140.

[2021-01-19 04:31] mikhailredis opened #142 "Add Streams commands (XINFO STREAM, XRANGE, XREVRANGE)"
### Describe the solution you'd like

Support Streams commands:
 - https://redis.io/commands/xinfo (partially implemented, please redo using marshaling)
 - https://redis.io/commands/xrange
 - https://redis.io/commands/xrevrange

### Additional context

Use for tests in the test data:
 - `queue:customers`
 - `queue:orders`
 - `queue:complete`

[2021-01-20 04:55] #139 closed

[2021-01-20 04:56] #134 closed

[2021-01-21 05:58] #136 closed

[2021-01-21 22:07] miohtama commented on #75
@johnkbarrow Thank you for reporting this out. I fell into this same trap by using the standard UNIX timestamp and RedisTimeseries did not warn about it at any point. I did not notice the mistake until the data was imported to Grafana.

[2021-01-21 23:07] miohtama opened #147 "Time series does not work when streaming is turned on"
## Summary

Does time series (TS.RANGE, TS.MRANGE) support streaming?

## Relevant information

Here is the same TS.RANGE explorer with and without streaming. It does not seem to do anything when streaming is turned on.

No streaming:

<img width="1593" alt="image" src="https://user-images.githubusercontent.com/49922/105423400-b5f28200-5c45-11eb-9d05-a54158ab93b2.png">

Streaming:

<img width="157

[2021-01-21 23:13] mikhailredis commented on #147
@miohtama Thank you for opening the issue. Streaming currently does not support multi-line responses like TS.RANGE and TS.MRANGE. You can use TS.GET command in streaming mode which returns the latest value.

We will add Streaming to TS.RANGE and TS.MRANGE command shortly.

[2021-01-22 10:47] miohtama commented on #147
Thank you so much @mikhailredis. Pardon my lack of earlier experience with Grafana, but what would you recommend as an alternative to emulate TS.MRANGE like graphs (multiple lines) for streaming? I assume this can be done with templates and somehow automatically generated from redis keys? If there are any existing examples for Redis Datasource, happy to take a look.

[2021-01-22 23:14] mikhailredis commented on #147
@miohtama Could you please provide more details on why do you need streaming for your graphs? What advantages do you see compare to static dashboards, which refresh every 30 seconds or so?

[2021-01-24 20:28] miohtama commented on #147
@mikhailredis You are correct, there are no substantive advantages, except able to toggle the Streaming button on the Grafana UI. I am not experienced enough to tell if Grafana has some special treatment for Streaming dashboards.

[2021-01-25 00:38] mikhailredis commented on #147
@miohtama There is a limited number of data sources that support Streaming in Grafana and Redis is one of them. We introduced streaming to display Redis statistics on the graph.

I will take a look and see if I can tweak Streaming in the data source to support multi-lines for Time-Series.

[2021-01-25 04:43] #142 closed

[2021-01-25 05:59] #63 closed

[2021-01-25 06:02] mikhailredis commented on #63
I have updated the tooltip for Client Type to avoid confusion between Redis OSS and Enterprise clusters. Also, it will be mentioned in the documentation. Auto-populate using Redis Enterprise API will be implemented as a part of the Redis Enterprise data source in the future versions.

[2021-01-29 12:28] miohtama commented on #147
I will close this issue. Thank you for the good support.

Meanwhile I assume there is no way to disable Streaming button in the Grafana UI if the source does not support streaming? I might open an issue with Grafana if this is a common UX issue with other data sources as well.

[2021-01-29 12:28] #147 closed

[2021-01-29 12:36] miohtama opened #153 "What are the supported Label Filter operations?"
## Summary

This might not be Redis data source specific questions, but a generic Grafana question, so please bear with me if I am asking in the wrong place.

What kind of operations are supported for label filter and where are these documented? E.g. how to do 'AND', 'OR' and such.

<img width="635" alt="image" src="https://user-images.githubusercontent.com/49922/106275884-e2566180-6236-11eb-86c4-

[2021-01-29 15:49] miohtama opened #154 "Getting the last value of multiple RedisTimeSeries keys to a table?"
## Summary

I am creating a table panel that displays the latest value of multiple Redis TimeSeries keys. Keys are filtered by a label query. For a stock market example, the resulting table would look like:

[code]

... where in the Redis I have created multiple time series keys where each key has label="stockmarket".

A Python key set up code would look like:

[code]
I can create a graph for the

[2021-01-30 00:41] mikhailredis commented on #147
@miohtama I am sorry for the delay. We updated the Streaming option in the Redis Data Source and it will be a part of the upcoming release. The streaming button is a part of Redis Data Source and now it's fully implemented using time series or data frames.

[2021-01-30 00:44] mikhailredis commented on #153
@miohtama It's related to RedisTimeSeries filtering rules: https://oss.redislabs.com/redistimeseries/commands/#filtering

Please take a look and let me know if you have any questions.

[2021-01-30 06:43] #153 closed

[2021-01-30 06:44] mikhailredis commented on #153
@miohtama Thank you for the feedback. The filter's tooltip was updated with the link to RedisTimeSeries filtering.

[2021-01-30 07:02] mikhailredis commented on #154
@miohtama Thank you for your interest in RedisTimeSeries.

This is how you add the time series using `redis-cli`:
[code]

To query using filter using `redis-cli`:
[code]

[2021-01-31 23:04] mikhailredis opened #156 "Verify Redis Data Source on Grafana 7.4"
Verify Redis Data Source on Grafana 7.4:

- [x] Try Time Series panel for Streaming, non-Streaming data
- [x] Implement Node Graph panel for [RedisGraph](redisgraph.io) module
- [x] Streaming data is not visualized on the Graph panel: https://github.com/grafana/grafana/issues/30769

[2021-02-02 08:41] miohtama commented on #154
Thank yu Mikhail. I think `Calculation` was the part I was missing and will try it out today.

[2021-02-03 04:12] mikhailredis commented on #154
@miohtama, Let me know if there is anything else.

[2021-02-03 04:12] mikhailredis commented on #154
@miohtama Please share your results, I would love to see them.

[2021-02-03 04:49] #73 closed

[2021-02-04 06:26] #156 closed

[2021-02-21 03:35] #154 closed

[2021-02-24 14:25] buramundo opened #165 "Redis Datasource yaml to import sentinel connexion"
## Summary
need field to have a sentinel connexion via redis.yaml

## Relevant information
I make GIT OPS K8S RANCHER for import Datasource i need the correct syntax to import a sentinel datasource of redis :
How i specify type: sentinel (as UI) and master name ?

datasources:
  - name: Redis
    type: redis-datasource
    access: proxy
    orgId: 1
    isDefault: true
    version: 1
    url: redi

[2021-02-24 18:52] mikhailredis commented on #165
Hello @buramundo. Great questions, I have to add it to the documentation.
Please let me know if it works:
[code]

[2021-03-01 12:28] buramundo commented on #165
All is good a can add my own sentinel datasource from a config map. Thanks a lot

[2021-03-04 08:32] sunilgithu-public opened #166 "Alerting for Grafana-Redis-Datasource"
Hi Folks,

Recently I have set up Grafana-Redis-Datasource. It works fine with the amazing graphs and real time monitoring data.
I am looking to have alerts for these monitored data. Say like if the memory goes beyond 85%, CPU usage go beyond 95% etc.
I am not able to see any alerting configuration options. If there is any way to get the alerts for what is being monitored it would be great. I am n

[2021-03-04 14:55] sunilgithu-public commented on #166
folks,
If any alerting related info/method is available and can be shared with me , would be highly appreciated.

[2021-03-05 11:57] xkilian commented on #95
I still look forward to this feature and will provide testing. Thank you for this great plugin.

[2021-03-08 12:16] sunilgithu-public commented on #166
@mikhailredis : If any alerting related info/method is available and can be shared with me , would be highly appreciated.

[2021-03-08 12:17] mikhailredis commented on #166
@sunilgithu-public i am sorry for the delay, I planned to look into it today. Are you looking to alert on specific data or info commands?

[2021-03-08 16:08] sunilgithu-public commented on #166
@mikhailredis Thank you for the response. I am glad you are going to look into it :)
Alerts for memory and CPU , i had mentioned in my question as an example.
Basically, I am looking to have alerts for all of the data that the plugin is monitoring...  from both the Dashboards "Redis" and "Redis Streaming" when a certain threshold exceeds.

1.Take example like If the uptime was 3 weeks until mrng a

[2021-03-08 23:23] phumberdroz opened #169 "Allow multiple Streaming queries per panel"
### Is your enhancement related to a problem? Please describe.

### Describe the solution you'd like
I would like to able to have more than one stream in a panel. This is useful for me as I want to display a table with rows that are all from different keys.
### Describe alternatives you've considered

I could not come up with alternatives. Especially since the redis data source seems to be the onl

[2021-03-09 15:51] sunilgithu-public commented on #166
@mikhailredis Request your help on my above queries.

[2021-03-09 17:42] mikhailredis commented on #166
@sunilgithu-public "If transformations are configured, alerts will not behave as expected so we should not let them be configured" and were disabled in 6.4.0-beta1(https://github.com/grafana/grafana/pull/19027).

I am looking into it.

[2021-03-10 01:57] mikhailredis commented on #166
@sunilgithu-public I was able to use Alerts with TS.GET command so far. Alerts are working only for time-series data (data frames with the `time` field) because processed on the backend.

In current implementation:
- Streaming adds a `time` field on the frontend
- Redis Data Source does not support filtering in the data source as Transformations was designed to do that. Alerts do not support filte

[2021-03-10 02:47] mikhailredis commented on #169
@phumberdroz Have you tried to use different queries and then combine them using Transformations?

[2021-03-10 02:48] mikhailredis commented on #169
@phumberdroz Are you talking about Streaming data or Redis Streams? Could you please provide more details.

[2021-03-10 05:16] sunilgithu-public commented on #166
@mikhailredis thank you :) much appreciated. Awaiting your positive response.

[2021-03-10 14:23] mikhailredis commented on #166
@sunilgithu-public I will let you know. Also, I found FR for Grafana: https://github.com/grafana/grafana/issues/26516

[2021-03-10 16:53] mikhailredis opened #171 "Fix integration tests after backend deps update"
### Describe the bug

[code]

### Version
master

[2021-03-11 13:45] bauagonzo opened #172 "XRANGE support for streaming"
### Is your enhancement related to a problem? Please describe.
It would be nice that XRANGE request support streaming for real-time update

### Describe the solution you'd like
XRANGE support a request for a timeframe between two timestamps. It will be nice to use it to stream realtime data points to Grafana charts

[2021-03-11 13:56] mikhailredis commented on #172
@bauagonzo Thank you for your questions. It's actually supported if you enable Streaming as Data Frames:

![Screen Shot 2021-03-11 at 8 55 17 AM](https://user-images.githubusercontent.com/47795110/110797864-97713600-8247-11eb-842e-b4046ff4c29a.png)

Is it what you are looking for or something else?

[2021-03-11 14:00] mikhailredis commented on #172
It works as a chart as well using Streaming as Time Series:

![Screen Shot 2021-03-11 at 8 59 23 AM](https://user-images.githubusercontent.com/47795110/110798409-24b48a80-8248-11eb-864b-66a4e2edc1f3.png)

[2021-03-12 09:41] bauagonzo commented on #172
Thanks @mikhailredis for the answer and for that project ;-)

That's my bad, I was expecting no data if there was no fresh point. But it works perfectly like that.

[2021-03-12 09:41] #172 closed

[2021-03-12 14:17] sunilgithu-public commented on #166
@mikhailredis hoping you would have come up with something for the alerts :)

[2021-03-12 14:19] mikhailredis commented on #166
I did. Will share later today.

[2021-03-13 23:14] phumberdroz commented on #169
I am talking about streaming multiple Grafana Queries at the same time from Redis.

This is what the hint currently says:

[2021-03-15 03:09] sunilgithu-public commented on #166
@mikhailredis thank you. eagerly waiting to hear from you!

[2021-03-15 14:34] TylerAvocat opened #173 "Docker Unzip install giving Plugin health check failed"
### Describe the bug
I am using grafana with no internet install, meaning that I use the unzipping approach.

The docker grafana uses a binded volume:
"/opt/docker/binded_volumes/grafana_stack/plugins/:/var/lib/grafana/plugins/"

In this directory I have the unzipped file https://grafana.com/api/plugins/redis-datasource/versions/1.3.1/download

Grafana starts as expected but when I try to add the

[2021-03-15 15:09] bmsan opened #174 "Extract Timestamp from Redis Stream Entry id"
### Extract timeseries information from Redis Stream
By default(if not explicitly set by the user) the automatically generated Redis [Stream](https://redis.io/topics/streams-intro) Entry ids contain insertion time information.
`<millisecondsTime>-<sequenceNumber>`
This information could be useful in grafana as a timesource.

### I've created a fork in which I am extracting this information and sen

[2021-03-15 16:16] mikhailredis commented on #173
Hello @TylerAvocat, thank you for submitting the issue.

I believe this error means that Grafana can't execute data source's executable for your platform. Do you see any other errors?

Could you please check that +x is set for redis-datasource_linux file using `ls -l /var/lib/frafana/plugins` inside the Docker container and let me know.

[2021-03-15 17:38] TylerAvocat commented on #173
You're right, it is a permission issue. I took me a while to get there from the "Plugin health check failed" message.

I am all good now, thanks for you help.

[2021-03-15 17:38] #173 closed

[2021-03-15 20:39] mikhailredis commented on #173
@TylerAvocat Thank you for the update. I will add it to the documentation.

[2021-03-15 20:43] mikhailredis commented on #174
@bmsan Great idea! Please open PR to add it to the upcoming release.

Regarding visualize as Graph, let me check.

[2021-03-15 23:05] mikhailredis commented on #174
@bmsan I updated the time field adding checks and also fixed tests. Could you please allow me to push updates to your branch?

Regarding visualize as Graph, stream fields returned as strings in the current implementation:
[code]

To display it on the Graph, the value should be checked if it's a float and use correct type similar to:
[code]

We can do it in the next PR after adding the `time` field

[2021-03-15 23:07] mikhailredis commented on #169
@phumberdroz Thank you, I updated the title to `Streaming Queries` to avoid confusion with Redis Streams.
I will work on it and get back to you shortly.

[2021-03-15 23:08] mikhailredis commented on #95
@xkilian I am sorry for the delay. I am working on it.

[2021-03-16 01:37] mikhailredis commented on #172
@bauagonzo Thank you for the update. This is how we designed Streaming to always retrieve the most updated value.

[2021-03-16 09:22] TylerAvocat commented on #174
Hello, I was trying to display a STREAM in a graph using redis-datasource 1.3.1, I guess from this ticket that it is not possible. Let me now if there is a beta build for 1.4 that I can use to test this feature once it is implemented!

[2021-03-16 10:22] bmsan commented on #174
@mikhailredis Thank you for looking into this so fast!
I have sent you a an invitation for direct access to the repo.
Just some thoughts that popped up in my head:

Related to naming:

- Related to datatypes:
3.  I also was inclined to try to convert the values from string to Float, but I assumed that it wouldn't work because if I used XREVRANGE with COUNT=1 & streaming enabled the graphs would sh

[2021-03-16 14:16] sunilgithu-public commented on #166
@mikhailredis requesting your response on this.

[2021-03-16 14:29] mikhailredis commented on #166
@sunilgithu-public I am sorry for the delay, but this feature is more complicated than I expected and requires introducing Alerting for each command separately, there is no unified way to add it to all commands similar to streaming.

I am still working on it and will get back to you shortly.

[2021-03-16 14:57] sunilgithu-public commented on #166
@mikhailredis thank you. much appreciated. I will bookmark this thread for future updates.

[2021-03-16 18:05] #174 closed

[2021-03-16 18:14] mikhailredis commented on #174
@bmsan Thank you for contributing! PR accepted and merged to master.

1. Done, having time as `$time` makes sense similar to `$streamId`, and the field's name does not matter.
2. It depends on the use case, but you should not store timestamps in streams. I would recommend separating streams in this case.
3. Done for XRANGE and XREVRANGE commands in the same PR. Correct, streaming checking it separ

[2021-03-16 18:20] mikhailredis commented on #174
@bmsan Please take a look at the Redis Dashboard, which is a part of the Redis Data Source, for example.

You can choose `Dashboard` as source Datasource and then select query:
![Screen Shot 2021-03-16 at 2 19 50 PM](https://user-images.githubusercontent.com/47795110/111360090-b6663280-8662-11eb-981b-ad99afdb07c6.png)

Please let me know if there is anything else.

[2021-03-16 18:40] mikhailredis commented on #174
@TylerAvocat @bmsan You are welcome to try the nightly build with the new feature and let me know if it works for you:

[code]

Here are examples streaming and non-streaming for XRANGE and XINFO command:

![Screen Shot 2021-03-16 at 2 38 59 PM](https://user-images.githubusercontent.com/47795110/111362694-80767d80-8665-11eb-9454-4a15e21402c4.png)

[2021-03-16 19:44] bmsan commented on #174
@mikhailredis This is great. Thank you for the extremely quick turnaround  and for having the patience to respond to all my questions!

[2021-03-16 19:59] mikhailredis commented on #174
@bmsan Let me know if there is anything else and I would like to see your project with dashboards when it's ready.

[2021-03-17 10:16] TylerAvocat commented on #174
@mikhailredis @bmsan, thanks for this new feature.

I am trying the nighly build and I can now see the time field and another field I have called ''localization_uuid" in a table. Could you tell me how to get to the graph vizualisation ? I usually use the time interval filtering with other datasource but I guess it has to be achieved by some other means here.

![Screenshot from 2021-03-17 11-09-08]

[2021-03-17 11:26] mikhailredis commented on #174
@TylerAvocat To get Graph Visualizing your fields should contain numbers. `localization_uuid` is a string and can't be displayed on the graph. You can try to use the `Group By` transformation to get the count. Let me know if it works.

XRANGE command use filtering by IDs, I think we can construct ID based on the Grafana time-range - I will open a feature request.

[2021-03-17 11:28] mikhailredis opened #176 "Use Time-range for XRANGE filtering"
Time-range should be used to filter Stream entries.

[code]

[2021-03-17 14:05] TylerAvocat commented on #174
I could get where I wanted using the Group By approach:
![Screenshot from 2021-03-17 15-00-00](https://user-images.githubusercontent.com/3041663/111479766-9487b100-8731-11eb-9bcd-a3e9da0120af.png)
Thanks for your help @mikhailredis

[2021-03-24 19:11] cardosocristian opened #178 "Plugin healtcheck failed"
I am running graphana 7.1.3 and installed the redis data source plugin to use the dashboard that you provide.
My redis server runs on an Almalinux8 / Centos 8 server and my grafana runs on another FreeBSD server.

![image](https://user-images.githubusercontent.com/32941615/112370285-f1e4aa80-8cbb-11eb-894e-d0e6855271b2.png)

I can telnet to the redis server on port 16379
[code]

I also checked tha

[2021-03-24 20:27] mikhailredis commented on #178
Hello @cardosocristian. This error means that Grafana can't execute the `redis-datasource` binaries. Did you install Redis Data Source using `grafana-cli` or extracted manually?

[2021-03-24 21:00] cardosocristian commented on #178
I installed it via the command mentioned on the graphana website.

[code]

Is there any kind of limitation when graphana is in FreeBSD?

[2021-03-24 21:20] cardosocristian commented on #178
I configured the version available in pkg and it is now in version 7.3.4, I ran the command to use the plugin again and the same error persists

[2021-03-24 23:00] mikhailredis commented on #178
@cardosocristian Any specific reason, why do you run Grafana on the FreeBSD server? Grafana plug-in platform does not support `FreeBSD` platform and no binaries compiled for it. All supported platforms are:

[code]

I am checking with the Grafana SDK team what is the plans to support the FreeBSD platform, but, unfortunately, it's not supported in the latest version.

[2021-03-25 12:10] cardosocristian commented on #178
It is the server where my zabbix-server already runs, it was the natural way to install grafana on it, until now this was the first plugin that did not work on FreeBSD.
Another factor that makes me use FreeBSD is stability, as well as the ability to upgrade without breaking libraries as occurs with most Linux distributions that support upgrading.

[2021-03-30 15:32] sunilgithu-public commented on #166
@mikhailredis requesting your response on this.

[2021-03-31 14:11] #91 closed

[2021-04-01 14:34] mikhailredis commented on #173
Documented in [Quickstart](https://redisgrafana.github.io/quickstart/#install-without-internet-access) page.

[2021-04-03 23:51] mikhailredis opened #179 "Multiple frames are not supported in Streaming TS.MRANGE"
### Describe the bug

Multiple frames returned by TS.MRANGE commands are not supported using Streaming.

### Expected behavior

All frames should be displayed.

[2021-04-04 13:25] #165 closed

[2021-04-07 21:45] mikhailredis commented on #166
@sunilgithu-public Almost done with Documentation. I will work on Alerting next.

[2021-04-09 13:07] mikhailredis opened #180 "Add Support for RedisGraph query nodes count"
### Is your enhancement related to a problem? Please describe.

Support GRAPH.QUERY command to return count:
[code]

[2021-04-14 16:48] alex6058 opened #181 "Support of FT.SEARCH command"
As of now the entire  FT.SEARCH output returns in a single data frame without any field specifications and data formatting. We need to have compatibility of FT.SEARCH output with the following panels:

- Stat
- Bar gauge
- Table

[2021-04-15 00:56] alex6058 commented on #181
**Table**

Each line represents the one entry, which FT.SEARCH returns. For example, in [this article](https://redislabs.com/blog/getting-started-with-redisearch-2-0/) query returns

[code]

The table in Grafana supposed to look like this:
[code]

[2021-04-15 01:01] alex6058 commented on #181
It's harder to define the rules to format the output for **Stat**, **Gauge** and **Bar gauge**

1. Each key should come in a separate data frame
2. Ideally each key should consist out of two key:value pairs: the value of the first key contains name of the label and value of the second key the numeric value

In the above example, it should be displayed like
[code]

If there're more than two fields

[2021-04-15 20:20] alex6058 opened #182 "Support of ZRANGE command"
Introduce new command `ZRANGE` in the `Redis` commands category

Command parameters:
`key`
`selectby` (options: `BYINDEX`|`BYSCORE`|`BYLEX` `BYINDEX` is default)
`reverse order` checkbox
min (default values: `0` for `BYINDEX`, `-inf` for `BYSCORE`, `-` for `BYLEX`)
max (default values: `-1` for `BYINDEX`, `+inf` for `BYSCORE`, `+` for `BYLEX`)
`WITHSCORES` mandatory on

The expected output of the

[2021-04-17 00:21] #171 closed

[2021-04-22 01:16] alex6058 opened #189 "Support of aggregation of multiple timeseries"
On RedisConf they presented the POC of aggregation of multiple timeseries with `GROUPBY` and `REDUCE` capabilities: https://redisconf.com/redisconf21/modules/85405/agenda/session/265329

We'd like to have the same functionality in grafana-redis-datasource. This is still not officially documented, but most likely it will work as shown in the presentation.

[2021-04-27 17:18] boriskogan81 opened #190 "Can not see Redis data in Grafana"
## Summary

Grafana says it's connected to Redis, but I can't get any data.

## Relevant information

I am running Grafana and Redis on a docker image from here:  https://github.com/collabnix/redisedge-grafana

Redis is running and has the data I'm looking for in a time series:
![image](https://user-images.githubusercontent.com/10279403/116266720-6a8bca80-a784-11eb-9d85-9bf4735429fd.png)

Grafana

[2021-04-27 20:00] mikhailredis commented on #190
@boriskogan81 Do you use docker-compose file from the https://github.com/collabnix/redisedge-grafana?

It's based on the image `ajeetraina/grafana-redisedge` which was built 6 months ago.
[code]

We fixed a couple of connectivity issues since then and fixed race condition in the Grafana.

I would recommend to try `grafana/grafana:latest` or our nightly build with Redis-app pre-installed:
[code]

P

[2021-04-27 21:35] boriskogan81 commented on #190
Sorry, I'm new to Docker.

Do you mean that in docker-compose.yaml I should change this:

grafana:
    image: ajeetraina/grafana-redisedge
    environment:
      - GF_INSTALL_PLUGINS=redis-app
  #  depends_on:
  #    - prometheus
    ports:
      - 3000:3000

to this?

grafana:
    image: grafana/grafana:latest
    environment:
      - GF_INSTALL_PLUGINS=redis-app
  #  depends_on:
  #    - prometh

[2021-04-28 17:12] mikhailredis commented on #190
@boriskogan81 That's correct. Have you tried it? Let me know how it goes.

[2021-05-04 11:39] sunilgithu-public commented on #166
@mikhailredis Requesting your response on this.

[2021-05-08 12:22] mikhailredis commented on #190
@boriskogan81 Please let me know if you are able to connect or require further assistance.

[2021-05-09 14:10] boriskogan81 commented on #190
Thank you so much, it works.

Sincerely,

Baruch

On Sat, May 8, 2021 at 3:23 PM Mikhail ***@***.***> wrote:

[2021-05-10 12:16] #190 closed

[2021-05-11 17:47] filipecosta90 opened #192 "RedisTimeSeries TS.MGET support"
### Is your enhancement related to a problem? Please describe.

It's usual to use the same type of queries of TS.MRANGE but to want only the last sample of each serie that matches the filter.
Example usage:
Get me the last result for each product version ( instead of the average or max/min given that for those aggregations we have MRANGE).

### Additional context
 TS.MGET api reference: https://os

[2021-05-11 18:05] mikhailredis commented on #192
@filipecosta90 please send PR and I will include it in the upcoming release.

[2021-05-13 02:37] mikhailredis commented on #166
@sunilgithu-public I am sorry for the multiple delays. I decided not to introduced Alerting and Streaming updates in the 1.4.0 release to avoid adding any breaking changes.

![Screen Shot 2021-05-12 at 10 26 05 PM](https://user-images.githubusercontent.com/47795110/118069576-6bbb1b00-b372-11eb-982c-670c90b3bfad.png)

PR is submitted. I will add more tests tomorrow and merge to the main branch tomo

[2021-05-13 12:11] sunilgithu-public commented on #166
@mikhailredis thank you for the updates :)

[2021-05-13 14:48] #166 closed

[2021-05-13 14:52] mikhailredis commented on #166
@sunilgithu-public PR merged and `redis-app` should be rebuild in 5 minutes: https://github.com/orgs/RedisGrafana/packages/container/package/redis-app

Please verify and let me know if you have any questions.
Documentation will be updated in https://github.com/RedisGrafana/RedisGrafana/issues/31

[2021-05-14 02:35] mikhailredis opened #197 "Add support for Sentinel ACL User and Password authentication separate from Redis"
Sentinel uses the same Password and ACL User authentication as Redis, which may be different.

https://github.com/RedisGrafana/grafana-redis-datasource/discussions/194#discussioncomment-733986

[2021-05-14 15:37] #197 closed

[2021-05-17 19:29] #180 closed

[2021-06-22 08:00] Severin-S opened #205 "Can't get number as Grafana variable"
### Describe the bug
Trying to set a Grafana variable to the value of a Redis key fails with the following error if the value only contains digits.

### Version
Grafana version 7.5.5
Redis plugin version 1.4.0

### Steps to reproduce
1. Execute `SET tmp "1"` in Redis
1. Create a new Dashboard in Grafana
1. Add a variable
1. Set `GET tmp` as query

Setting `tmp` to `1` instead of `"1"` leads to the

[2021-06-23 02:41] mikhailredis commented on #205
@Severin-S thank you for reporting the issue. If the string contains a number, then it's converted to a number for graphs. Unfortunately, I have not tried it for variables recently, using strings in variables for my projects.
I will check how to fix it and get back to you shortly.

[2021-06-26 10:00] #205 closed

[2021-06-26 15:15] mikhailredis commented on #205
@Severin-S the issue is fixed for Grafana 7. Grafana 8 returns result differently and work without the fix.
You can test using the latest Docker build: https://redisgrafana.github.io/development/images/
I am planning to release version 1.5.0 with the fix over the weekend.

[2021-07-02 17:50] #192 closed

[2021-07-02 20:42] mikhailredis commented on #178
Unfortunately, Grafana does not officially support FreeBSD for Backend Plugin SDK and there is not enough interest to add it.
This limitation mentioned in the documentation: http://localhost:8000/redis-datasource/overview/#supported-platforms.
Closing.

[2021-07-02 20:42] #178 closed

[2021-07-15 20:54] #169 closed

[2021-07-17 12:18] cdc007 opened #215 "How to read binary string key ? We using kryos to serizal string key to byte array"
## Summary

## Relevant information

[2021-07-17 14:39] phumberdroz commented on #169
Thank you so much for adding this 🎉

[2021-07-17 15:44] mikhailredis commented on #169
@phumberdroz Thank you and I am sorry for the delay.
You can test it using the nightly Docker image and let me know if it works for you.

[2021-07-17 16:02] mikhailredis commented on #215
@cdc007 Could you please provide more information on your use case.
Do you want to display this string key in the panel?

[2021-07-17 23:29] cdc007 commented on #215
I want display string key in plane

[2021-07-17 23:31] cdc007 commented on #215
Close the ticket by accident .could u reopen it

[2021-07-17 23:56] cdc007 commented on #215
Because if using kryos do  serialize . Insert byte array. In grafana panel not readable.

[2021-07-18 00:59] mikhailredis commented on #215
@cdc007 Are you talking about https://github.com/EsotericSoftware/kryo project?
Do you mind sending me a sample rdb file with the serialized keys to take a look at?

[2021-07-18 03:28] cdc007 commented on #215
Hey I am out of town currently. Yes that kryo project is the one which being used by lots of company.actually you can simple use kryo api to serialize a string  to binary and insert to redis. U will find the in grafana string can't read .  .

[2021-07-19 05:20] cdc007 commented on #215
Sry out of town. Just using java kryos to serialize a string key to byte array then hmset to redis. U will find key are binary format which hard to read in grafana panel.  Is there a plug in or still can out deserialize byte array to string before render to user? Only simple strong not complicate other?java objects

[2021-07-20 05:33] cdc007 commented on #215
Hello any update?

[2021-07-22 01:20] mikhailredis commented on #215
@cdc007 There is no javascript/typescript implementation for kryo serializer as I understand. To implement the panel which can show the object from the Redis cache string we have to implement a deserializer, which is hard to do because it's not documented properly and it's out of the scope for Redis plugins.

Let me know if you know of a better solution.

[2021-09-14 06:48] kycfeel opened #216 ""Plugin unavailable" for Redis-Datasource (or Redis-App) Plugin on s390x machine."
### Describe the bug
Redis-Datasource (or Redis-App) Plugin for Grafana doesn't function on the s390x machine due to the "Plugin unavailable" error.

This is the error I got from console:

[code]

### Version
- Grafana v7.5.3

### Steps to reproduce
Install `redis-datasource` or `redis-app` plugin through the `GF_INSTALL_PLUGINS` env.

### Expected behavior
Everything works fine with no issue.

##

[2021-09-16 01:01] mikhailredis commented on #216
Hello @kycfeel, unfortunately, Grafana Plugins SDK does not support s390x architecture.
Please take a look at the supported platforms in the documentation: https://redisgrafana.github.io/redis-datasource/overview/#supported-platforms
Let me know if there is anything else.

[2021-09-20 17:50] mikhailredis commented on #216
@kycfeel, please let me know if there is anything else.
Closing for now.

[2021-09-20 17:50] #216 closed

[2021-09-20 17:51] mikhailredis commented on #215
@cdc007, please let me know if there is anything else.
Closing for now.

[2021-09-20 17:51] #215 closed

[2021-09-26 06:22] rhinuxx opened #218 "command line"
## Summary

## Relevant information

[2021-09-26 06:22] #218 closed

[2021-10-02 10:14] trungswat commented on #95
Hi,
Still looking forward to hearing something new about supporting rejson.
Thank you

[2021-10-13 14:17] mikhailredis opened #219 "Fix RedisGears rg.dumpreqs command when Requirement was not yet downloaded so wheels are not available"
### Describe the bug

Fix RedisGears rg.dumpreqs command parsing when 12) is not array, but string with an error

[code]

[2021-10-27 11:01] ermalbaj opened #222 "When the new Redis will be released to be compatible with Grafana v8.2.1 ?"

[2021-11-01 03:30] DeoLeung commented on #182
is there a way that I can manually format the universal input result as table before it's predefined?

[2021-11-03 01:03] #219 closed

[2021-11-03 02:06] #176 closed

[2021-11-03 02:08] mikhailredis commented on #176
@zergaloid Implemented and merged to the main branch.
Will be a part of the upcoming release this week.

[2021-11-03 02:09] mikhailredis commented on #222
@ermalbaj Let me know if you have any questions.
I am finishing version 2.0 and release it later this week.

[2021-11-03 02:09] #222 closed

[2021-11-04 18:52] #182 closed

[2021-11-04 18:54] mikhailredis commented on #182
@alex6058 @DeoLeung ZRANGE implemented and will be released in version 2.0 this week.

[2021-11-04 19:44] mikhailredis commented on #95
@trungswat I am sorry for the delay, I am working on it right now.

[2021-11-06 18:15] #95 closed

[2021-11-06 18:16] mikhailredis opened #230 "Add JSON.MGET command"
### Additional context
Similar to JSON.GET introduced in v2.0

[2021-11-06 22:42] mikhailredis opened #231 "Redis Enterprise introduced new field `calls_master` in commandstats"
### Describe the bug

Parsing based on number of field does not work with the new field:
[code]

[2021-11-07 00:14] #231 closed

[2021-11-10 11:26] BSVogler opened #233 "SCARD does not show a key field any more"
### Describe the bug
The SCARD command needs a key field. It is even displayed in the documentation.
https://redisgrafana.github.io/redis-datasource/redis/SCARD/

### Version
redis plug in 1.5.0
Grafana 8.2.0

### Steps to reproduce
Create new panel. Add new query.

### Expected behavior
Should show a key field.

### Screenshots
<img width="1259" alt="Bildschirmfoto 2021-11-10 um 12 26 14" src="ht

[2021-11-10 13:22] #233 closed

[2021-11-10 13:23] mikhailredis commented on #233
@BSVogler, thank you for opening the issue.
Fixed and will be released in v2.0.0 today.

[2021-11-16 14:57] ermalbaj commented on #222
Tested and everything is working fine.
Thank you for the release.

[2021-11-16 15:01] mikhailredis commented on #222
@ermalbaj, thank you for confirming.

Please let me know if there is anything else.

[2021-11-18 09:40] sylvainv opened #235 "Connection refused in cluster mode"
### Describe the bug

We are trying to connect to our Redis Cluster within our VPC. The grafana is also deployed within the vpc, on AWS ECS.
I tried several inputs:

* 172.22.1.19:6379,172.22.2.25:6380,172.22.0.89:6381
* redis://172.22.1.19:6379,172.22.2.25:6380,172.22.0.89:6381
* redis://172.22.1.19:6379,redis://172.22.2.25:6380,redis://172.22.0.89:6381

All of those input report:

[code]

While

[2021-11-18 12:16] mikhailredis commented on #235
@sylvainv, could you please run `CLUSTER NODES` to check the cluster nodes with their IP addresses.
Redis client when connecting to Redis cluster node receives the IP address from the Cluster and then connects to each node using returned IP.

[2021-11-18 12:25] OjerDev opened #236 "getInstance error: dial tcp ec2-xx-xxx-xxx-xxx.us-east-2.compute.amazonaws.com:6379: i/o timeout"
My Redis server running in a Linux environment. I am trying to connect my Redis data source to the Grafana dashboard. While I am connecting I am facing this error.

Error: getInstance error: dial tcp ec2-xx-xxx-xxx-xxx.us-east-2.compute.amazonaws.com:6379: i/o timeout

Grafana is running on **windows machine**

[2021-11-18 13:03] sylvainv commented on #235
[code]

@mikhailredis

[2021-11-18 13:49] mikhailredis commented on #236
@OjerDev, `i/o timeout` error in most cases means it's a firewall issue.
Are you able to connect from Windows machine to the Redis database running on the Linux instance in AWS using `redis-cli` or any other tool like `telnet`? If not, then you need to add the firewall rule for the Linux instance.

[2021-11-18 14:52] mikhailredis commented on #235
@sylvainv, I will set up a test OSS Redis cluster on multiple nodes and will try to reproduce the issue to investigate further.
I will get back to you shortly.

[2021-11-18 22:09] sylvainv commented on #235
@Izual750 is also working on this issue and can take over if necessary @mikhailredis

[2021-11-19 05:19] OjerDev commented on #236
@mikhailredis First of all thanks for the quick response.
I have tried to connect Redis DB (Linux instance) from my windows machine. I am getting the following error:

**C:\Users>****redis-cli -h ec2-xx-xxx-xxx-xx.us-east-2.compute.amazonaws.com -p 6379**
_Could not connect to Redis at ec2-xx-xxx-xxx-xx.us-east-2.compute.amazonaws.com:6379: Unknown error
not connected_

C:\Users>**telnet ec2-x.x.x

[2021-11-19 15:28] sylvainv commented on #235
Hello @mikhailredis any update on the issue?

[2021-11-19 17:54] mikhailredis commented on #236
@OjerDev, if you can't connect using `redis-cli` or `telnet`, it's a connectivity issue.

Check `iptables -L` on the host, it may block incoming connections. Do you run Redis in the container or Linux host itself?

[2021-11-19 21:36] mikhailredis commented on #235
@sylvainv, I have verified the plugin and set up demo environment for future development: https://demo.volkovlabs.io/d/TTQkU657k/redis-cluster

![Screen Shot 2021-11-19 at 4 13 02 PM](https://user-images.githubusercontent.com/47795110/142694415-469e1088-1baa-4e11-a2ba-ff2a052ea03e.png)

I believe I know your issue. Looking at the `CLUSTER NODES` output, one of your nodes set at `127.0.0.1`. All of

[2021-11-20 04:09] Izual750 commented on #235
Thanks !

I'll modify the config actually, the nodes are configured to listen both on the "private IP" network interface and loopback.

I'll modify everything to listen on private interface only and retry :)

[2021-11-20 22:30] mikhailredis commented on #235
@Izual750, please keep me updated with your progress.

[2021-11-20 22:31] mikhailredis commented on #236
@OjerDev, please keep me updated with your progress.

[2021-11-21 03:38] mikhailredis opened #238 "JSON.GET: interface conversion: interface {} is string, not map[string]interface {}"
### Describe the bug

[code]

When running RedisJSON command:
[code]

[2021-11-21 07:23] OjerDev commented on #236
@mikhailredis  I am running the redis as a Linux host. Not using docker container.  This is my status of "iptables -L"

I am new to the Linux environment. I have just pasted the output of iptables -L

root@ip-xxx-xx-xx-xxx:~# iptables -L
Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy ACCEPT)
target     prot opt source               destinati

[2021-11-21 18:19] mikhailredis commented on #236
@OjerDev, I don't see any blocking rules on the Linux instances. It may be another firewall in-between which blocking connection. You have to check your environment and verify it step by step.

Let me know if you have any questions.

[2021-11-23 14:51] Izual750 commented on #235
Everything's good now 👍
 Thanks for your help 🙂

[2021-11-23 15:36] mikhailredis commented on #235
@Izual750, thank you for the update. Documentation updated to avoid this issue in the future: https://redisgrafana.github.io/redis-datasource/faq/

Please let me know if there is anything else.

[2021-11-23 15:36] #235 closed

[2021-11-24 14:55] BSVogler opened #239 "How to SELECT a database?"
I think selecting the database of the redis server should be an option in the configuration option. I cannot find any option for that. Is there a way to make it use a different one?
https://redis.io/commands/select

EDIT: My confusion comes from the fact that using the trailing slash notation e.g. `<url>/1` only works when you use the protocol `redis://<url>/1` in front. However this is surprising

[2021-11-24 23:02] mikhailredis commented on #239
@BSVogler, thank you for the suggestion. Redis Data Source based on the Radix client, which follows Redis schema: [https://www.iana.org/assignments/uri-schemes/prov/redis](https://www.iana.org/assignments/uri-schemes/prov/redis).

Looking at the schema, `rediss://` is supported by some clients to enable TLS  and is not a part of the standard. The Radix client controls TLS by using a special flag:

[2021-11-24 23:03] mikhailredis commented on #236
@OjerDev, please let me know if you able to resolve the issue or require further assistance.

[2021-11-24 23:14] nail-sirazitdinov opened #240 "HotKeys analysis"
Create command and panel (for app) to analyze hot keys similar to redis-cli --hotkeys
The solution is similar to #133 but instead of `MEMORY USAGE` use [OBJECT FREQ key](https://redis.io/commands/object-freq) command

[2021-11-25 07:01] Izual750 commented on #235
Thanks for the update of the doc :)

The confusing thing for me was that, if I have a bind address like this:
[code]

I can have a node endpoint like this:
- **Endpoint 1:** 192.168.1.100
[code]
- **Endpoint 2**: 172.16.10.50
[code]

And if the Grafana Redis-cluster datasource plugin is configured to use `192.168.1.100`, _It seems_ I have no way to anticipate that redis-cluster will not tell the d

[2021-11-25 08:57] BSVogler commented on #239
Thanks for clarifying that. It is fair that since `rediss` it is not officially part of the standard you wont't support it.

Since the connection string accepts the URI and it is clear that it a redis connection, why is `redis://ip:port/db-name` as well as `ip:port` okay,  but not `ip:port/db-name`? Whenever the protocol part is missing it could be automatically inferred.

[2021-11-25 09:00] BSVogler commented on #118
I think Radix v4 is out of beta. I see no indication that v4 is in beta, but v3 is still the default branch.

[2021-11-25 16:13] mikhailredis commented on #235
@Izual750, let me clarify:
1) Redis client in Cluster mode will try to connect to any available node specified in the Address.
2) When client connects it retrieves all cluster nodes information and key slots.
3) When plugin request specific keys from the client, client already knows which node has the key based on the slot and send the request to this node.

You can't tell the other node in the cl

[2021-11-25 16:22] mikhailredis commented on #239
@BSVogler, I prefer to avoid address manipulation in the Data Source and send it as is to the Radix client.

One of the reason, the Data Source supports Standalone, Socket, Cluster and Sentinel types of connections. I have not tested `db-name` functionality in all of those modes and it will require further investigation on how adding db-name behaves.

I can think of introducing the helper, which c

[2021-11-25 16:53] BSVogler commented on #239
I would very welcome any change which improves the UX when setting up the connection. When I tried to set up redis I initially thought that the plug-in is broken because neither the rediss protocol worked nor removing the protocol.

[2021-11-25 17:19] mikhailredis commented on #239
@BSVogler, I appreciate the feedback and will work on improving the UX.

Please let me know if there is anything else.

[2021-11-26 03:06] Izual750 commented on #235
Ok I see !

Thanks for the explanation it's very clear :smile:

[2021-11-29 14:44] mikhailredis commented on #236
@OjerDev, let us know if you need anything else.

[2021-11-29 14:44] #236 closed

[2021-12-01 10:11] cryply opened #241 "How to SELECT a database? If redis using unix socket"
## Summary
How to access database 1,2,3....? Can we have combined view over all DBs?
![redis_datasource](https://user-images.githubusercontent.com/36797566/144215248-5b2b39c5-0f94-42c2-875c-4de337e5b874.png)

[2021-12-01 15:30] mikhailredis commented on #241
@cryply, that is a great question. Logical databases in Redis have a lot of limitations and are supposed to be removed from Redis as Salvatore said a long time ago. What kind of data do you want to `view over all DBs`?

When connecting in the `Standalone` mode you can specify the logical database (https://redisgrafana.github.io/redis-datasource/configuration/). Unfortunately, there is no way to sp

[2021-12-03 00:54] ngleader opened #242 "Grafana template variables not working for the Default datasource"
### Describe the bug

can not load template variables by redis query.

### Version

- grafana 8.1.0, 8.3.0
- redis-datasource 2.0.0

### Steps to reproduce
1. setup redis datasource
2. create redis sets item & add value
3. make grafana template variable with query "smembers mykey" or "get mykey2"
4. Preview of values : None => not working

### Expected behavior

### Screenshots

### Additional con

[2021-12-03 21:41] mikhailredis commented on #242
@ngleader, do you see any errors in the Browser Console?

Are you able to create a panel with the `get` or `smembers` command and display values on your dashboard?

I will check on my test environment.

[2021-12-03 21:43] mikhailredis commented on #242
@ngleader, I remember 8.1.X had issues with loading Variables for Default Data Source, which was fixed in 8.2.X. Let me check what happened in 8.3.0.

[2021-12-04 12:47] radiantone opened #243 "Does this plugin support redis pub/sub?"
## Summary

## Relevant information

[2021-12-05 03:10] mikhailredis commented on #242
@ngleader, I just tested on the 8.3.0 and everything is working as expected.

Please let me know if you see any issues in the Browser Console.

[2021-12-05 08:50] ngleader commented on #242
@mikhailredis

# datasource
![image](https://user-images.githubusercontent.com/199256/144739755-7689a140-08ac-4ce5-9f8d-c18978ec2c97.png)

# test smembers
![image](https://user-images.githubusercontent.com/199256/144739686-dc0425bd-4eb7-46c6-81ef-3cd66e38bf03.png)

# setting variables
![image](https://user-images.githubusercontent.com/199256/144739816-c2e05a66-f45e-4d6c-8d8c-016724934dcd.png)
![im

[2021-12-05 13:17] mikhailredis commented on #242
@ngleader It's the same issue with variables when the data source is set as `Default`. I just reproduced the issue on 8.3.0.

Could you please unset 'Default' and it should work as expected?

I will check the code and investigate with the Grafana team if necessary.

[2021-12-05 15:09] mikhailredis commented on #243
@radiantone, We have not implemented any commands for Pub/Sub yet.

Could you please provide more details on what kind of information you are looking to display and what commands to use? We can add them in future releases.

[2021-12-05 15:15] mikhailredis commented on #241
@cryply, I am thinking to add SELECT database functionality and execute the `SELECT` command when opening a new connection. Let me know if you will be interested to test it using Sockets.

[2021-12-05 15:16] mikhailredis commented on #239
@BSVogler, I am thinking to add SELECT database functionality as a separate option and execute the `SELECT` command when opening a new connection. Let me know if you will be interested to try it.

[2021-12-05 15:31] #242 closed

[2021-12-05 15:35] mikhailredis commented on #242
@ngleader Thank you for opening the issue. The bug is fixed and will be a part of the upcoming release.
Meanwhile, variables should work for the Redis data source not marked as Default.

Please let me know if there is anything else.

[2021-12-05 16:17] cryply commented on #241
100%

but best to get overall performance

On Sun, Dec 5, 2021, 17:16 Mikhail Volkov ***@***.***> wrote:

[2021-12-06 00:29] #238 closed

[2021-12-06 10:31] BSVogler commented on #239
yes, would be interested in that.

[2021-12-26 03:02] mikhailredis commented on #243
@radiantone, please re-open the issue when ready.

[2021-12-26 03:02] #243 closed

[2021-12-28 22:13] zencircle opened #250 "automate redis plugin installation"
## Summary
I am working on automating the plugin installation and unable to  apply additional parameters in datasource.yaml file . Values listed [here](https://github.com/RedisGrafana/grafana-redis-datasource/blob/master/provisioning/datasources/redis.yaml) seems to work.
## Relevant information

[code]

[2021-12-29 15:30] zencircle commented on #250
Found additional documentation [here](https://redisgrafana.github.io/redis-datasource/provisioning/). Below config worked for me
[code]

[2021-12-29 15:30] #250 closed

[2021-12-29 16:13] mikhailredis commented on #250
@zencircle, thank you for the great questions and for providing your solution.
Documentation updates with your example: https://redisgrafana.github.io/redis-datasource/provisioning/.

Please let me know if there is anything else.

[2021-12-30 17:19] zencircle commented on #250
Note: I am using grafana with kubernetes. `datasource.yaml` is configured as configmap. I have to always login to the UI and replace the TLS certificate manually. All the parameters including password seems to work as expected. Is it possible that there is a bug in datasource testing ?
![image](https://user-images.githubusercontent.com/25303681/147773710-5a118b20-4c1c-4bcb-8249-9166906a51d1.png)

[2021-12-30 17:25] mikhailredis commented on #250
@zencircle I am confused, did you set `tlsCACert` to the exact certificate or just a placeholder like in the example?
I thought everything is working for you.

[2021-12-30 17:37] zencircle commented on #250
I started having issues after redeployment. Could you verify on your end ?
I am using actual certs, from the redis tls secrets
[code]

[2021-12-31 17:43] mikhailredis opened #251 "Rebuild using 8.3.4"
[code]

[2022-01-03 09:11] BSVogler commented on #241
Do you have any more information on that? I am aware of the limitations but for some use-cases like when migrating this is a very handy feature. Without multiple databases, you would need to deploy a whole new server. Typically DBaaS costs are also per server, so this would add additional costs.

[2022-01-18 20:08] adrianfime27 opened #254 "Cannot get values with TS.RANGE, with and without streaming."
### Describe the bug

I'm testing grafana to make a streaming graphs, but only can with **TS.GET**, but also this command get the last value. Works fine to monitoring industrial process, but the key with me, is make graph with an history, be able to review the values on the past dates. For that reason, I want use **TS.RANGE** to see the values.
Or if not, with what function can I do it?
### Versio

[2022-01-19 00:45] mikhailredis commented on #254
Hello @adrianfime27,

According to the documentation for TS.RANGE command (https://redisgrafana.github.io/redis-datasource/redis-timeseries/TS-RANGE/) Streaming should be supported. Have you tried to use TS.RANGE without Streaming? For monitoring historical data I would advice to refresh dashboard instead of using Streaming, which is for real-time.

[2022-01-19 00:58] adrianfime27 commented on #254
Yes, also trying without streaming, as I mentioned in the title of the bug.

[2022-01-19 01:01] mikhailredis commented on #254
@adrianfime27 I am sorry, I missed that. Do you see any data returned when running `TS.RANGE` using Redis-cli?

[2022-01-19 01:05] adrianfime27 commented on #254
Yes! With the _redis-cli_ all works fine. But when try in grafana, what the picture shows happens.

[2022-01-19 04:09] #251 closed

[2022-01-21 12:35] BSVogler opened #256 "Switch rows and columns with ZRANGE"
### Is your enhancement related to a problem? Please describe.
When attempting to a sorted set as time series data this is not possible as there are fields for each entry instead of two, one for the score and one for the value.
<img width="1963" alt="Bildschirmfoto 2022-01-21 um 13 32 43" src="https://user-images.githubusercontent.com/801818/150527753-1cae411e-0441-45e6-b956-293f1ce505af.png">

##

[2022-01-21 15:40] adrianfime27 commented on #254
@mikhailredis Hi?

[2022-01-27 11:52] mikhailredis commented on #254
Hello @adrianfime27, I am sorry for the delay.

Could you please try the latest version to see if it makes the difference: https://grafana.com/grafana/plugins/redis-datasource/.
I tested the latest version with TS.RANGE and it's working as expected on my test dataset with similar versions.

If the latest version won't show anything, could you please run MONITOR and check the command from the Grafa

[2022-02-09 16:18] adrianfime27 commented on #254
Hello @mikhailredis, I'm sorry for the delay. But is with the last version of plugin or grafana?

[2022-02-09 16:19] mikhailredis commented on #254
@adrianfime27 The latest version of the plugin, which was recently updated in the Grafana Marketplace.

[2022-02-09 17:46] mikhailredis commented on #254
@adrianfime27 Redis Data Source is used to return Redis Data.

Redis Application and Redis Explorer application plugins add additional functionality for managing Data Sources.

[2022-02-09 20:02] mikhail-vl opened #257 "Verify Data source with 8.4.0"
Data Source and Application plugins should be tested against the new version of Grafana to be ready for the new release.

[2022-02-09 21:15] adrianfime27 commented on #254
The problem continues, I have updated the Redis Data Source plugin, but it still does not work.
![git1](https://user-images.githubusercontent.com/11671423/153291234-60c0819c-e363-49b0-8008-c99f0019463d.png)
I'm running Grafana from a docker-compose, I'll also show you how I do it if you see something strange.
`version: "3.4"
services:
  redis:
    container_name: redistimeseries
    image: redisla

[2022-02-09 21:33] mikhailredis commented on #254
@adrianfime27 Everything looks correct.

Adding Redis team @K-Jo and @danni-m to assist further.

[2022-04-23 12:21] vgoklani opened #259 "How to display a Grafana table using redis?"
We would like to display a "table" (multiple columns/rows) in grafana, and store the data in redis... :)

We're flexible on the schema, but currently storing rows as JSON encoded strings in a redis hash.

What's the best way of doing this? Our goal is to just have one backend, and we're obviously choosing redis because it's so simple and easy to use.

We also feel that this is a very common use ca

[2022-04-26 15:43] vgoklani opened #261 "So many timeouts!!!!"
Hey there,

We're using Grafana + Redis Timeseries - with *lots* of dashboards and panels...

We're seeing a lot of timeouts on Grafana, and wondering how to best address this?

Are the requests being pipelined to Redis based on the dashboard and/or panel?

How do we see the logs on redis for each of these requests?

Thanks!

[2022-04-26 15:45] mikhail-vl commented on #261
@vgoklani I would recommend to increase the Pool Size to see if it helps: https://redisgrafana.github.io/redis-datasource/configuration/#pool-size

[2022-04-26 15:54] vgoklani commented on #261
thanks @mikhail-vl

Could you please explain the "Pipeline WIndow":

    Sets the duration in microseconds after which internal pipelines will be flushed. If window is zero then implicit pipelining will be disabled. Default value is 0.

What pipeline are we talking about, i.e. is this the redis pipeline? How should we tune this?

[2022-04-26 16:51] mikhail-vl commented on #261
The Pipeline Window option is unpredictable and not well tested - it's Redis pipeline. Various Grafana panels will use pool of connections with Redis pipeline and you can't really predict which requests goes where.
I would not touch it and just increase the pool size.

[2022-04-26 19:06] vgoklani commented on #261
got it, thanks!

[2022-04-26 19:06] #261 closed

[2022-05-10 21:18] gtsaito opened #262 "STD.P STD.S Var.P and Var.S don't appear on RedisTimeSeries aggregation field"
STD.P STD.S Var.P and Var.S don't appear as an option under the aggregation field when building a query for RedisTimeSeries.
From the RedisTimeSeries documentation there should be (min, max, avg, sum, range, count, first, last, STD.P, STD.S, Var.P, Var.S) as options.
I can aggregate with all these on the CLI and it works fine.

Grafana 8.4.4
RedisGrafana 2.1.1

![image](https://user-images.githubu

[2022-05-11 01:20] mikhail-vl commented on #262
@gtsaito There is a PR waiting for Redis team approval: https://github.com/RedisGrafana/grafana-redis-datasource/pull/260

[2022-05-17 12:32] zaid3tech opened #263 "Get All Keys with values."
Hope you all doing good, Is there any way to query all keys with their data in tabular form like this?
[code]

[2022-05-17 13:23] mikhail-vl commented on #263
@zaid3tech You can use LUA, RedisGears and Functions in the latest version of Redis.
In Data Source select custom command and it should be possible.

[2022-05-17 17:08] zaid3tech commented on #263
@mikhail-vl  Thanks for help, I will learn about it

[2022-05-19 05:41] engliah12 opened #264 "not support AWS Elasticache enable encryption in transit"
add redis datasource to connect AWS Elasticache instance that enable encryption in transit  have a error:
getInstance error: no pools available

[2022-05-19 07:26] engliah12 commented on #264
my fault, enable tls option does work

[2022-05-19 07:26] #264 closed

[2022-05-19 07:27] engliah12 commented on #264
my fault, enable tls option does work

[2022-05-20 12:53] mikhail-vl commented on #259
@vgoklani There are multiple ways to display data in a table. One of the options will be to use RedisJSON to store you JSON encoded strings.

You can learn more in the documentation: https://redisgrafana.github.io

[2022-06-03 09:57] poqudrof opened #265 "Annotations not firing queries"
Hello,

I found a bug / improvement to do around the annotations.

### Describe the bug
After I created an annotation I can click it, it will open the panel but not query the data.
The timestamps are correct in the URL, and the view is correct when I hit the "refresh dashboard" button.

### Version
2.1.1

### Steps to reproduce
1. Create an annotation.
2. Click on this annotation in an annotation

[2022-06-10 15:34] Gbl13 opened #266 "Connect to an azure cache redis datasource"
Hello, I hope you're well!

Im trying to connect my Redis to an Azure cache redis datasource.

I put my domain and in the "password" i put my azure secret key, but, when i click on save the following error appears:

![image](https://user-images.githubusercontent.com/51091579/173098691-612244b2-607e-40e2-a181-e2e584bd0257.png)

Could you help me with that?

[2022-06-10 15:38] mikhail-vl commented on #266
@Gbl13 I believe you should use TLS/SSL configuration to connect to Azure: https://redisgrafana.github.io/redis-datasource/configuration/#ssltls

[2022-06-10 20:13] Gbl13 commented on #266
I don't have the SSL certificates configured in Azure cache redis, in this case we need to use the secret key in the fields?

I've tried the "Client certification"  with "Skip verify" , but the error still the same.

[2022-06-10 20:18] mikhail-vl commented on #266
@Gbl13 Actually, you have `i/o timeout` error, which most probably means that you are unable to reach the Redis port.
Please check the firewall and network connection between Grafana and Redis on Azure.

[2022-06-18 13:43] paataD commented on #256
Have the same problem

[2022-07-28 16:46] EraYaN commented on #62
This is still an issue, it seems like it tries to send the SELECT command to the sentinel

So you get tons of these:
[code]

With the config (as an example)

[code]

[2022-07-28 18:46] mikhail-vl commented on #62
@EraYaN I will reopen the issue for the Redis team to follow up.

[2022-08-10 04:23] hoangphuocbk opened #268 "Redis ACL permissons"
## Summary
List all permissions which Redis monitor user need to have for monitoring.

## Relevant information
I am sorry if this question is asked somewhere before.
I moved to Redis version 6.x and I created an user for monitor but I don't know which permission I need for that user.
Hope someone help me about it. Thank you so much.

[2022-08-18 16:18] MLRadfys opened #269 "Uwe variables in RedisJson query"
Hi and thanks for this great Plugin!

Iam wondering if it is possible to use Grafana variables inside a Json get query ?

Thanks in advance,

MikeSv

[2022-08-18 16:23] mikhail-vl commented on #269
@MLRadfys Thank you. Grafana variables should be supported in the `key` and `path`.

[2022-08-18 21:16] madjacckkkk opened #270 "Update go build version?"
## Summary
At [Platform One](https://p1.dso.mil/) we use continuous scanning with tools like Twistlock and Anchore to scan our hardened images. We are encountering a number of CVEs regarding go1.16.3, which is EOL. Will there be a future release updating go version? Let me know if you need more information about the CVEs.

[2022-08-18 21:22] mikhail-vl commented on #270
@K-Jo

[2022-08-22 17:11] Nurlan199206 opened #271 "can't add redis cluster in datasource - getInstance error: cannot decode redis array into string"
grafana: 9.0.5
redis-datasource: 2.0.0

can't add 3 nodes redis cluster in datasource - error: getInstance error: cannot decode redis array into string

Address bar: 192.168.0.131:6379,192.168.0.132:6379,192.168.0.133:6379

![image](https://user-images.githubusercontent.com/22808731/185979682-49bb1583-39f0-4e79-8051-eee1f9447a3a.png)

[2022-08-22 17:11] Nurlan199206 commented on #271
also i tried use plugin version 2.1.1 but same error

[2022-08-22 17:52] mikhail-vl commented on #271
@Nurlan199206 It looks like a connection issue to me, which was not parsed correctly.

What version of Redis do you use? Can you connect to all cluster nodes from the Grafana instance/container?

[2022-08-25 05:59] Purvesh05 opened #272 "getInstance Error: no pools available"
I am trying to connect a redis cluster to a Garfana redis plugin and getting the getInstance error: no pool available.

But i can connect the individual nodes in standalone mode
![image](https://user-images.githubusercontent.com/31390919/186585725-7581e52b-e747-4abe-ad95-73baccbe7b79.png)

[2022-08-25 18:37] mikhail-vl commented on #272
@Purvesh05 In cluster nodes, client will try to connect using internal cluster IP addresses compares to the standalone mode.

 This can be an issue.

[2022-08-28 19:44] Nurlan199206 commented on #271
yes, if connecting to each node as `standalone` everything is ok, redis version `7.0.4`

![image](https://user-images.githubusercontent.com/22808731/187091704-170b9f65-5470-4200-a44a-4bc6d291671e.png)

![image](https://user-images.githubusercontent.com/22808731/187091730-bc6e89df-1549-44fc-9f7a-085744a95be4.png)

[2022-08-28 20:37] mikhail-vl commented on #271
@mikhail-vl Redis 7 may changed the interface and the Radix client needs to be updated.

Let's wait for the Redis team response.

[2022-09-01 16:18] AlexeiZenin commented on #166
Can't seem to create a standalone alert for memory in 9.1.0 Grafana and get this error message: `Failed to evaluate queries and expressions: failed to execute conditions: input data must be a wide series but got type not (input refid)`

<img width="1233" alt="Screen Shot 2022-09-01 at 12 18 37 PM" src="https://user-images.githubusercontent.com/12644364/187963534-598f97b2-2651-4e0f-8021-31c6ac63f00

[2022-09-01 16:21] mikhail-vl commented on #166
@AlexeiZenin Please open a separate issue for Redis team to investigate.

[2022-09-01 16:26] AlexeiZenin commented on #166
Which repository would that be and what would the Redis team do to fix this? From my understanding this plugin reads data from Redis, the dashboards all work great, just seems the alerting integration doesn't work for this.

[2022-09-01 16:33] AlexeiZenin commented on #166
Ah I see, I will open a new issue here then, thanks!

[2022-09-08 05:45] Purvesh05 commented on #272
hi @mikhail-vl how do i get the internal cluster IP addresses

[2022-09-14 05:17] vgoklani opened #273 "How to set the redis password field when adding the datasource via the Grafana API?"
Hey there,

I'm trying to create a new datasource via the Grafana API for redis.  When calling the API, the plugin gets created, but the password field is blank, and therefore the plugin can't connect to our redis instance. I'm able to fix this manually by logging in to the Grafana web app, and manually pasting in the password.... which is incredibly annoying :)

Here's how I'm creating the `schem

[2022-09-14 15:19] mikhail-vl commented on #273
@vgoklani Redis's password is a part of the `secureJsonData` and should be set accordingly in the API request.

[code]

[2022-09-25 16:46] frederikaalund opened #274 "Data doesn't update with either `XRANGE` or `TS.RANGE`"
## Summary

I expect that the data updates continuously when `Streaming` is checked. However, in practice I have to manually press the "Refresh" button:

![grafana-redis](https://user-images.githubusercontent.com/545423/192155056-6eb9d3c4-778b-44b5-9d49-47452ddfffb5.gif)

This is the same for both the `XRANGE` and `TS.RANGE` command. Strangely, the plot does move with the expected interval (100 ms

[2022-09-26 22:04] agmvilla commented on #259
Might you have any example on how to extract the value from the json field in a redis key?
I fighting on trying to make it work here, but I could not find any clear documentation/example on how to do that.
Thanks!

[2022-09-27 01:07] mikhail-vl commented on #259
@agmvilla Are you asking about RedisJSON or `string` with JSON inside?

  There is a `Extract Data` transformation. Have you tried it?

[2022-09-27 13:46] agmvilla commented on #259
Hi I'm talking about RedisJson, but finally I got it woking :-)
Thanks for your reply.

[2022-09-28 02:24] vineelyalamarthy opened #275 "Monitor Redis Cluster with prometheus data-source."
We want to monitor Redis-Cluster , I really like the visual representation in this chart. But want to use the prometheus as a data source. Does this dashboard allow Grafana as a data source.

[2022-10-28 09:03] fontexD opened #276 "Many misses, remove cluster|nodes from latency/advanced"
## Summary
IN my redis plugin / grafana dashboard i got like millions of missses more than matches, is it beacuase of my failed cluster|nodes command ?

and is it possible to remove the call of cluster|Nodes since we are not running it in cluster mode?

## Relevant information
ive attached pictures to see my issue
https://ibb.co/ZXZNMmm misses

https://ibb.co/0nC9XDs CLusternodes command, is it po

[2022-10-31 01:17] mikhail-vl commented on #276
@fontexD Cluster Nodes command is a part of the dashboard, as I remember.

  Just update the default dashboard removing the cluster command.

[2022-10-31 01:19] mikhail-vl commented on #275
@vineelyalamarthy You can choose any data source for any panel in the default dashboard and update per your needs.

[2022-11-03 18:22] fontexD commented on #276
how do i update the dashboard to remove it ? it seems so locked

[2022-11-04 08:18] vineelyalamarthy commented on #275
Sorry, didn't get you, we can use prometheus as a data source or not? Please confirm @mikhail-vl

[2022-11-07 19:37] mikhail-vl commented on #275
@vineelyalamarthy Yes, you can. Just copy the dashboard and use Prometheus data source.

[2022-11-07 19:38] mikhail-vl commented on #274
@frederikaalund Probably, streaming implementation in Grafana was changed since we implemented it for Grafana 8. It was working as expected on the version we tested it.

  I hope Redis team will look into it.

[2022-11-07 19:39] mikhail-vl commented on #276
@fontexD You need to "save as" the dashboard to be able to update it if you used predefined dashboard.

[2022-11-07 21:17] frederikaalund commented on #274
I found a workaround where streaming works: Set the time range end a little into the future. E.g., from `now-5m` to `now+1m`. I don't know why this workaround works. It seems silly. 😄

[2022-11-07 21:20] mikhail-vl commented on #274
Interesting, glad it works for you. Streaming is a unique feature supported only by handful number of plugins.

[2022-11-14 08:58] hoangphuocbk commented on #271
I had the same issue with Redis cluster version 7.0.5

[2022-11-14 12:11] mikhail-vl commented on #271
@K-Jo

[2022-11-15 12:21] CuteSmartTiger opened #278 "how to display the data got by hgetall which value is json into geomap"
## Summary
how to display the data got by hgetall which value is json into geomap

## Relevant information
first, i save my data in mysql . the table schema as follow
`
mysql> desc vehicle_location_state;
+--------------+--------------+------+-----+-------------------+-------+
| Field        | Type         | Null | Key | Default           | Extra |
+--------------+--------------+------+-----+-----

[2022-11-15 16:52] mikhail-vl commented on #278
@CuteSmartTiger You may need to use additional Transformation to convert it to the format GeoMap understands.

  Alternatively, you can take a look at the Apache ECharts Panel (https://github.com/volkovlabs/volkovlabs-echarts-panel), which can parse JSON and display using JSON or Baidu maps.

[2022-11-16 07:04] taeun0 opened #279 "my redis cluster url is bad gateway"
## Summary

I want to use Redis Explorer plugin(Redis Enterprise clusters).
When I set my cluster url and port, an error message "Bad Gateway" is appeared.
I set the same address in Redis Application plugin and it is running.
what should I do? Could you help me?..😿

## Relevant information

### 1. Redis Application plugin cluster URL Information `(connected)`
<img width="500" alt="1" src="https://

[2022-11-17 21:32] mikhail-vl commented on #279
@k-Jo

[2022-11-23 01:00] taeun0 commented on #279
@mikhail-vl @K-Jo
Is there any other way?

[2022-11-23 14:58] madhur commented on #271
I have the same issue. Any update?

[2022-11-23 18:34] nail-sirazitdinov commented on #279
Hi @taeun0
Is your Redis Enterprise database OSS Cluster API enabled? If not, you should use a Standalone database connection.
For Explorer Redis Enterprise discovery mechanism, specify cluster FQDN (https://<cluster_fqdn>:9443) and admin credentials.
Please open a ticket in our support portal - https://support.redislabs.com/. The team will be glad to help.
Thank you

[2022-11-29 21:59] nail-sirazitdinov commented on #279
@taeun0 let us know if you still need a hand with that one.